# **Etude de Marché**

In [1]:
# Librairies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
import sklearn as sk
import scipy as sp
import pca as pca

In [2]:
from jyquickhelper import add_notebook_menu
add_notebook_menu()

In [3]:
# Formatage 

#separateur milliers
pd.options.display.float_format = '{:,.2f}'.format

# Couleurs
red_a400 = '#ff1744'
indigo_a100 = '#8c9eff'
indigo_a400 = '#3d5afe'
indigo_a700 = '#304ffe'
bluegrey_900 = '#263238'
teal_a400 = '#1de9b6'
purple_a400 = '#d500f9'
yellow_a400 = '#ffea00'
bluegrey_900 = '#263238'
palette_5 = [teal_a400, indigo_a400, red_a400, yellow_a400, purple_a400]

# Nettoyage des données

In [4]:
# Fichiers nom pays francais et anglais avec code iso3

Liste_Pays = pd.read_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\SOURCE\Pays traduction.csv', delimiter=";")
Liste_Pays.head()

          Country               Pays ISO 2 ISO 3 ISO ON
0     Afghanistan        Afghanistan    AF   AFG      4
1   Aland Islands         Îles Aland    AX   ALA    248
2         Albania            Albanie    AL   ALB      8
3         Algeria            Algérie    DZ   DZA     12
4  American Samoa  Samoa américaines    AS   ASM     16

In [5]:
# En registrement du CSV

Liste_Pays.to_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\Liste_Pays.csv')

## df Population

In [6]:
Population = pd.read_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\SOURCE\DAN-P9-data\Population_2000_2018.csv', delimiter=";")
Population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,"20,779.95",X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,"21,606.99",X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,"22,600.77",X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,"23,680.87",X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,"24,726.68",X,Sources internationales sûres,NaN

In [7]:
# Suppression des colonnes inutiles
Population = Population.drop(columns=['Code Domaine', 'Domaine', 'Unité','Code Élément','Code Produit', 'Code année', 'Symbole', 'Description du Symbole', 'Note'])
Population = Population.rename(columns={"Valeur":"Population"})
Population["Population"] = Population["Population"]*1000
Population.head(2)

,Code zone,Zone,Élément,Produit,Année,Population
0,2,Afghanistan,Population totale,Population-Estimations,2000,"20,779,953.00"
1,2,Afghanistan,Population totale,Population-Estimations,2001,"21,606,988.00"

In [8]:
Population = Population.pivot_table(index=['Zone',"Code zone"], values='Population', columns=['Année']).reset_index()
Population

Année,Zone,Code zone,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,2,"20,779,953.00","21,606,988.00","22,600,770.00","23,680,871.00","24,726,684.00","25,654,277.00","26,433,049.00","27,100,536.00",...,"28,394,813.00","29,185,507.00","30,117,413.00","31,161,376.00","32,269,589.00","33,370,794.00","34,413,603.00","35,383,032.00","36,296,113.00","37,171,921.00"
1,Afrique du Sud,202,"44,967,708.00","45,571,274.00","46,150,913.00","46,719,196.00","47,291,610.00","47,880,601.00","48,489,459.00","49,119,759.00",...,"50,477,011.00","51,216,964.00","52,003,755.00","52,832,658.00","53,687,121.00","54,544,186.00","55,386,367.00","56,207,646.00","57,009,756.00","57,792,518.00"
2,Albanie,3,"3,129,243.00","3,129,704.00","3,126,187.00","3,118,023.00","3,104,892.00","3,086,810.00","3,063,021.00","3,033,998.00",...,"2,973,048.00","2,948,023.00","2,928,592.00","2,914,096.00","2,903,790.00","2,896,305.00","2,890,513.00","2,886,438.00","2,884,169.00","2,882,740.00"
3,Algérie,4,"31,042,235.00","31,451,514.00","31,855,109.00","32,264,157.00","32,692,163.00","33,149,724.00","33,641,002.00","34,166,972.00",...,"35,333,881.00","35,977,455.00","36,661,445.00","37,383,895.00","38,140,133.00","38,923,692.00","39,728,025.00","40,551,392.00","41,389,189.00","42,228,408.00"
4,Allemagne,79,"81,400,882.00","81,453,885.00","81,535,122.00","81,614,380.00","81,646,474.00","81,602,741.00","81,472,226.00","81,277,830.00",...,"80,899,961.00","80,827,002.00","80,855,632.00","80,972,628.00","81,174,367.00","81,450,378.00","81,787,411.00","82,193,768.00","82,658,409.00","83,124,418.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Îles Salomon,25,"412,660.00","423,944.00","435,432.00","447,017.00","458,539.00","469,918.00","481,078.00","492,132.00",...,"515,181.00","527,861.00","541,521.00","556,063.00","571,336.00","587,079.00","603,118.00","619,438.00","636,039.00","652,857.00"
234,Îles Turques-et-Caïques,224,"20,164.00","21,573.00","23,232.00","25,011.00","26,700.00","28,180.00","29,391.00","30,385.00",...,"31,934.00","32,660.00","33,377.00","34,066.00","34,731.00","35,369.00","35,981.00","36,559.00","37,115.00","37,665.00"
235,Îles Vierges américaines,240,"108,722.00","108,691.00","108,561.00","108,360.00","108,092.00","107,794.00","107,462.00","107,115.00",...,"106,412.00","106,087.00","105,793.00","105,534.00","105,303.00","105,114.00","104,958.00","104,835.00","104,751.00","104,680.00"
236,Îles Vierges britanniques,239,"20,311.00","20,675.00","21,129.00","21,672.00","22,334.00","23,107.00","24,023.00","25,047.00",...,"27,039.00","27,794.00","28,319.00","28,650.00","28,847.00","28,989.00","29,152.00","29,355.00","29,577.00","29,802.00"
237,Îles Wallis-et-Futuna,243,"14,694.00","14,843.00","14,988.00","15,096.00","15,093.00","14,939.00","14,609.00","14,132.00",...,"13,070.00","12,689.00","12,462.00","12,375.00","12,356.00","12,340.00","12,266.00","12,107.00","11,900.00","11,661.00"

In [9]:
Population.columns

Index([     'Zone', 'Code zone',        2000,        2001,        2002,
              2003,        2004,        2005,        2006,        2007,
              2008,        2009,        2010,        2011,        2012,
              2013,        2014,        2015,        2016,        2017,
              2018],
      dtype='object', name='Année')

In [10]:
Population["%_Evolutipon_population_2012/17"] = ((Population[2017]-Population[2012])/Population[2012])*100
Population = Population[["Code zone","Zone",2017,"%_Evolutipon_population_2012/17"]]
Population = Population.rename(columns={2017:"Population"})

Population

Année,Code zone,Zone,Population,%_Evolutipon_population_2012/17
0,2,Afghanistan,"36,296,113.00",16.48
1,202,Afrique du Sud,"57,009,756.00",7.91
2,3,Albanie,"2,884,169.00",-1.03
3,4,Algérie,"41,389,189.00",10.71
4,79,Allemagne,"82,658,409.00",2.08
...,...,...,...,...
233,25,Îles Salomon,"636,039.00",14.38
234,224,Îles Turques-et-Caïques,"37,115.00",8.95
235,240,Îles Vierges américaines,"104,751.00",-0.74
236,239,Îles Vierges britanniques,"29,577.00",3.24
237,243,Îles Wallis-et-Futuna,"11,900.00",-3.84

In [11]:
Liste_Pays.sample(3)

           Country                Pays ISO 2 ISO 3 ISO ON
158  New Caledonia  Nouvelle-Calédonie    NC   NCL    540
18      Bangladesh          Bangladesh    BD   BGD     50
13       Australia           Australie    AU   AUS     36

In [12]:
PPP = Population.merge(Liste_Pays, left_on="Zone", right_on="Pays", how="left")

## df_PIB

In [13]:
PIB = pd.read_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\SOURCE\DAN-P9-data\fao_data_pib.csv', delimiter=";")
PIB.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,MK,Indicateurs macro,2,Afghanistan,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2000,2000,US$,160.83,X,Sources internationales sûres,NaN
1,MK,Indicateurs macro,2,Afghanistan,6129,Croissance annuelle US$,22008,Produit Intérieur Brut,2000,2000,%,54.92,Fc,Donnée calculée,NaN
2,MK,Indicateurs macro,2,Afghanistan,61290,Croissance annuelle US$ par habitant,22008,Produit Intérieur Brut,2000,2000,%,50.38,Fc,Donnée calculée,NaN
3,MK,Indicateurs macro,2,Afghanistan,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2001,2001,US$,166.54,X,Sources internationales sûres,NaN
4,MK,Indicateurs macro,2,Afghanistan,6129,Croissance annuelle US$,22008,Produit Intérieur Brut,2001,2001,%,7.67,Fc,Donnée calculée,NaN

In [14]:
PIB = PIB[["Zone","Code zone (FAO)", "Année", "Élément", "Valeur", "Unité"]]
PIB = PIB.loc[PIB["Année"]==2017]

In [15]:
PIB = PIB.pivot_table(index=['Zone',"Code zone (FAO)"], values='Valeur', columns=['Élément']).reset_index()
PIB = PIB[['Zone', 'Code zone (FAO)','Croissance annuelle US$ par habitant', 'Valeur US $ par habitant']]
PIB = PIB.rename(columns={'Valeur US $ par habitant':"PIB $/habitant"})
PIB

Élément,Zone,Code zone (FAO),Croissance annuelle US$ par habitant,PIB $/habitant
0,Afghanistan,2,0.65,513.09
1,Afrique du Sud,202,16.11,"6,121.88"
2,Albanie,3,9.85,"4,514.20"
3,Algérie,4,4.14,"4,109.70"
4,Allemagne,79,5.61,"44,552.06"
...,...,...,...,...
206,Îles Cook,47,11.65,"19,741.19"
207,Îles Marshall,127,4.44,"3,578.32"
208,Îles Salomon,25,4.83,"1,911.43"
209,Îles Turques-et-Caïques,224,-2.46,"27,546.01"
210,Îles Vierges britanniques,239,-6.84,"40,819.89"

## df_disponibilité alimentaire

In [16]:
DA = pd.read_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\SOURCE\DAN-P9-data\DisponibiliteAlimentaire_2017.csv', delimiter=";")
DA.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,"4,281.00",S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,"2,302.00",S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.00,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,"6,701.00",S,Données standardisées

In [17]:
# Isolation des produits animaux
protein_list = [2721, 2732, 2733, 2734, 2735, 2761, 2763, 2764, 2767, 2768]
protein_tot = DA.loc[DA["Code Produit"].isin(protein_list),:]
protein_tot

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
633,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2732,Viande d'Ovins/Caprins,2017,2017,Milliers de tonnes,160.00,S,Données standardisées
634,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2732,Viande d'Ovins/Caprins,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
635,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2732,Viande d'Ovins/Caprins,2017,2017,Milliers de tonnes,160.00,S,Données standardisées
636,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2732,Viande d'Ovins/Caprins,2017,2017,Milliers de tonnes,9.00,S,Données standardisées
637,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5142,Nourriture,2732,Viande d'Ovins/Caprins,2017,2017,Milliers de tonnes,151.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176560,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2767,"Mollusques, Autres",2017,2017,Milliers de tonnes,0.00,S,Données standardisées
176561,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2767,"Mollusques, Autres",2017,2017,kg,0.00,Fc,Donnée calculée
176562,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2767,"Mollusques, Autres",2017,2017,Kcal/personne/jour,0.00,Fc,Donnée calculée
176563,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2767,"Mollusques, Autres",2017,2017,g/personne/jour,0.00,Fc,Donnée calculée
176564,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2767,"Mollusques, Autres",2017,2017,g/personne/jour,0.00,Fc,Donnée calculée

In [18]:
protein_tot["Produit"].unique()

array(["Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Poissons Eau Douce',
       'Poissons Pelagiques', 'Poissons Marins, Autres',
       'Mollusques, Autres', 'Viande de Anim Aquatiq'], dtype=object)

In [19]:
# Données Elevage Viandes en générale
protein_tot = protein_tot.pivot_table(index=['Zone',"Code zone",'Produit'], values='Valeur', columns=['Élément']).reset_index()
protein_tot

Élément,Zone,Code zone,Produit,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,2,Poissons Eau Douce,NaN,NaN,0.00,0.00,0.25,0.02,0.07,9.00,NaN,0.00,9.00,NaN,9.00,NaN,NaN,NaN,NaN
1,Afghanistan,2,Viande d'Ovins/Caprins,NaN,NaN,NaN,26.00,4.15,2.16,1.62,160.00,NaN,0.00,151.00,9.00,160.00,NaN,NaN,NaN,NaN
2,Afghanistan,2,Viande de Suides,NaN,NaN,NaN,0.00,0.00,0.01,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN,NaN,0.00
3,Afghanistan,2,Viande de Volailles,NaN,NaN,NaN,5.00,1.53,0.33,0.54,57.00,NaN,29.00,55.00,2.00,28.00,0.00,NaN,NaN,0.00
4,Afghanistan,2,"Viande, Autre",NaN,NaN,NaN,1.00,0.30,0.05,0.14,12.00,NaN,0.00,11.00,1.00,12.00,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,Îles Salomon,25,Poissons Pelagiques,NaN,NaN,0.00,46.00,19.51,1.92,6.73,12.00,34.00,0.00,12.00,NaN,46.00,NaN,NaN,NaN,0.00
1378,Îles Salomon,25,Viande d'Ovins/Caprins,0.00,NaN,NaN,1.00,0.08,0.05,0.03,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN,NaN,0.00
1379,Îles Salomon,25,Viande de Suides,0.00,NaN,NaN,44.00,4.49,4.24,1.38,3.00,NaN,0.00,3.00,NaN,2.00,0.00,NaN,NaN,0.00
1380,Îles Salomon,25,Viande de Volailles,0.00,NaN,NaN,18.00,4.45,1.31,1.51,3.00,0.00,6.00,3.00,NaN,0.00,0.00,NaN,NaN,3.00
1381,Îles Salomon,25,"Viande, Autre",0.00,NaN,NaN,0.00,0.01,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN,NaN,0.00

In [20]:
protein_tot.columns

Index(['Zone', 'Code zone', 'Produit', 'Alimentation pour touristes',
       'Aliments pour animaux', 'Autres utilisations (non alimentaire)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Résidus', 'Semences', 'Traitement', 'Variation de stock'],
      dtype='object', name='Élément')

In [21]:
protein_tot = protein_tot.groupby("Zone").sum()
protein_tot = protein_tot.reset_index()
protein_tot = protein_tot[['Zone',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité intérieure', 'Disponibilité de protéines en quantité (g/personne/jour)',
        'Exportations - Quantité','Importations - Quantité', 'Nourriture','Production']]
protein_tot = protein_tot.add_suffix("_Global")
protein_tot = protein_tot.rename(columns={"Zone_Global":"Zone"})
protein_tot

Élément,Zone,Disponibilité alimentaire (Kcal/personne/jour)_Global,Disponibilité intérieure_Global,Disponibilité de protéines en quantité (g/personne/jour)_Global,Exportations - Quantité_Global,Importations - Quantité_Global,Nourriture_Global,Production_Global
0,Afghanistan,32.00,238.00,2.37,0.00,29.00,226.00,209.00
1,Afrique du Sud,213.00,"2,765.00",17.57,503.00,722.00,"2,650.00","2,544.00"
2,Albanie,205.00,104.00,13.10,8.00,61.00,104.00,55.00
3,Algérie,67.00,717.00,5.59,1.00,57.00,690.00,662.00
4,Allemagne,332.00,"6,801.00",25.50,"4,147.00","3,546.00","6,656.00","7,348.00"
...,...,...,...,...,...,...,...,...
169,Émirats arabes unis,236.00,716.00,23.28,143.00,684.00,664.00,166.00
170,Équateur,137.00,652.00,11.13,618.00,67.00,620.00,"1,191.00"
171,États-Unis d'Amérique,374.00,"32,403.00",31.03,"7,267.00","3,634.00","31,773.00","36,162.00"
172,Éthiopie,9.00,252.00,0.93,1.00,4.00,248.00,250.00
173,Îles Salomon,128.00,25.00,12.67,38.00,7.00,25.00,58.00

In [22]:
# Isolation des produits "Volailles"
volailles = [2734]
DA = DA.loc[DA["Code Produit"].isin(volailles),:]
DA

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.00,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.00,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.00,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176396,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2734,Viande de Volailles,2017,2017,Milliers de tonnes,67.00,S,Données standardisées
176397,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2734,Viande de Volailles,2017,2017,kg,4.68,Fc,Donnée calculée
176398,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2734,Viande de Volailles,2017,2017,Kcal/personne/jour,16.00,Fc,Donnée calculée
176399,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2734,Viande de Volailles,2017,2017,g/personne/jour,1.59,Fc,Donnée calculée
176400,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2734,Viande de Volailles,2017,2017,g/personne/jour,0.99,Fc,Donnée calculée

In [23]:
Élément = ['Production', 'Importations - Quantité',
       'Disponibilité intérieure', 'Pertes', 'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)','Exportations - Quantité']

DA = DA.loc[DA["Élément"].isin(Élément),:]

In [24]:
# Suppression des colonnes inutiles
DA = DA.drop(columns=['Code Domaine', 'Domaine', 'Code Élément',
                      'Code Produit', 'Code année','Symbole', 'Description du Symbole'])
DA.head()

,Code zone,Zone,Élément,Produit,Année,Unité,Valeur
651,2,Afghanistan,Production,Viande de Volailles,2017,Milliers de tonnes,28.00
652,2,Afghanistan,Importations - Quantité,Viande de Volailles,2017,Milliers de tonnes,29.00
654,2,Afghanistan,Disponibilité intérieure,Viande de Volailles,2017,Milliers de tonnes,57.00
655,2,Afghanistan,Pertes,Viande de Volailles,2017,Milliers de tonnes,2.00
657,2,Afghanistan,Nourriture,Viande de Volailles,2017,Milliers de tonnes,55.00

In [25]:
DA["Unité"].unique()

array(['Milliers de tonnes', 'kg', 'Kcal/personne/jour',
       'g/personne/jour'], dtype=object)

In [26]:
# Données Elevage 
DA = DA.pivot_table(index=['Zone',"Code zone"], values='Valeur', columns=['Produit','Élément']).reset_index()
DA

Produit                   Zone Code zone  \
Élément
0                  Afghanistan         2
1               Afrique du Sud       202
2                      Albanie         3
3                      Algérie         4
4                    Allemagne        79
..                         ...       ...
167        Émirats arabes unis       225
168                   Équateur        58
169      États-Unis d'Amérique       231
170                   Éthiopie       238
171               Îles Salomon        25

Produit                            Viande de Volailles  \
Élément Disponibilité alimentaire (Kcal/personne/jour)
0                                                 5.00
1                                               143.00
2                                                85.00
3                                                22.00
4                                                71.00
..                                                 ...
167                                             147.00
168                                              83.00
169                                             219.00
170                                               0.00
171                                              18.00

Produit                                                         \
Élément Disponibilité alimentaire en quantité (kg/personne/an)
0                                                     1.53
1                                                    35.69
2                                                    16.36
3                                                     6.38
4                                                    19.47
..                                                     ...
167                                                  43.47
168                                                  19.31
169                                                  55.68
170                                                   0.13
171                                                   4.45

Produit                                                           \
Élément Disponibilité de protéines en quantité (g/personne/jour)
0                                                     0.54
1                                                    14.11
2                                                     6.26
3                                                     1.97
4                                                     7.96
..                                                     ...
167                                                  14.80
168                                                   6.15
169                                                  19.93
170                                                   0.04
171                                                   1.51

Produit                                                   \
Élément Disponibilité intérieure Exportations - Quantité
0                          57.00                     NaN
1                       2,118.00                   63.00
2                          47.00                    0.00
3                         277.00                    0.00
4                       1,739.00                  646.00
..                           ...                     ...
167                       412.00                   94.00
168                       341.00                    0.00
169                    18,266.00                3,692.00
170                        14.00                     NaN
171                         3.00                    0.00

Produit
Élément Importations - Quantité Nourriture Pertes Production
0                         29.00      55.00   2.00      28.00
1                        514.00   2,035.00  83.00   1,667.00
2                         38.00      47.00    NaN      13.00
3                          2.00     264.00  13.00     275.00
4                        842.00   1,609.00    NaN   1,514.00
..                          ...        ...    ...        ...
167                      433.00     412.00    NaN      48.00
168                        0.00     324.00  17.00     340.00
169                      123.00  18,100.00    NaN  21,914.00
170                        1.00      14.00   1.00      14.00
171                        6.00       3.00    NaN       0.00

[172 rows x 11 columns]

In [27]:
DA.shape

(172, 11)

In [28]:
DA.isna().sum()

Produit              Élément
Zone                                                                               0
Code zone                                                                          0
Viande de Volailles  Disponibilité alimentaire (Kcal/personne/jour)                0
                     Disponibilité alimentaire en quantité (kg/personne/an)        0
                     Disponibilité de protéines en quantité (g/personne/jour)      0
                     Disponibilité intérieure                                      2
                     Exportations - Quantité                                      37
                     Importations - Quantité                                       2
                     Nourriture                                                    2
                     Pertes                                                      105
                     Production                                                    4
dtype: int64

## Jointures

In [29]:
data = DA.merge(Liste_Pays, left_on="Zone", right_on="Pays", how="left")
data.isna().sum()

C:\Users\melle\AppData\Local\Temp\ipykernel_23452\2364043015.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  data = DA.merge(Liste_Pays, left_on="Zone", right_on="Pays", how="left")

(Zone, )                                                                             0
(Code zone, )                                                                        0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
(Viande de Volailles, Importations - Quantité)                                       2
(Viande de Volailles, Nourriture)                                                    2
(Viande de Volailles, Pertes)                                                      105
(Viande de Volailles, Production)                                                    4
Country                                                                             25
Pays                                                                                25
ISO 2                                                                               26
ISO 3                                                                               25
ISO ON                                                                              25
dtype: int64

In [30]:
data.sample(3)

,"(Zone, )","(Code zone, )","(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)","(Viande de Volailles, Importations - Quantité)","(Viande de Volailles, Nourriture)","(Viande de Volailles, Pertes)","(Viande de Volailles, Production)",Country,Pays,ISO 2,ISO 3,ISO ON
148,Tadjikistan,208,18.00,4.45,1.45,40.00,NaN,38.00,39.00,0.00,2.00,Tajikistan,Tadjikistan,TJ,TJK,762
46,Espagne,203,105.00,30.39,12.47,"1,497.00",212.00,205.00,"1,418.00",66.00,"1,515.00",Spain,Espagne,ES,ESP,724
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,"1,514.00",Germany,Allemagne,DE,DEU,276

In [31]:
data.columns

Index([                                                                       ('Zone', ''),
                                                                         ('Code zone', ''),
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                        ('Viande de Volailles', 'Importations - Quantité'),
                                                     ('Viande de Volailles', 'Nourriture'),
                                                         ('Viande de Volailles', 'Pertes'),
                                                     ('Viande de Volailles', 'Production'),
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON'],
      dtype='object')

In [32]:
data.columns

Index([                                                                       ('Zone', ''),
                                                                         ('Code zone', ''),
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                        ('Viande de Volailles', 'Importations - Quantité'),
                                                     ('Viande de Volailles', 'Nourriture'),
                                                         ('Viande de Volailles', 'Pertes'),
                                                     ('Viande de Volailles', 'Production'),
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON'],
      dtype='object')

In [33]:
data = data.rename(columns={('Code zone', ''):"Code zone"})
data = data.rename(columns={('Zone', ''):"Zone"})
data.sample(3)

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)","(Viande de Volailles, Importations - Quantité)","(Viande de Volailles, Nourriture)","(Viande de Volailles, Pertes)","(Viande de Volailles, Production)",Country,Pays,ISO 2,ISO 3,ISO ON
114,Pakistan,165,20.00,5.86,1.97,"1,282.00",4.00,2.00,"1,218.00",64.00,"1,281.00",Pakistan,Pakistan,PK,PAK,586
125,Rwanda,184,5.00,1.49,0.50,19.00,0.00,0.00,18.00,1.00,19.00,Rwanda,Rwanda,RW,RWA,646
156,Turkménistan,213,15.00,4.52,1.53,27.00,NaN,9.00,26.00,1.00,20.00,Turkmenistan,Turkménistan,TM,TKM,795

In [34]:
Population.sample(3)

Année  Code zone      Zone     Population  %_Evolutipon_population_2012/17
154          179     Qatar   2,724,728.00                            24.07
141          165  Pakistan 207,906,209.00                            11.01
45            50    Chypre   1,179,678.00                             3.93

In [35]:
data1 = data.merge(Population,on=['Zone','Code zone'], how='left')
data1

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)","(Viande de Volailles, Importations - Quantité)","(Viande de Volailles, Nourriture)","(Viande de Volailles, Pertes)","(Viande de Volailles, Production)",Country,Pays,ISO 2,ISO 3,ISO ON,Population,%_Evolutipon_population_2012/17
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,28.00,Afghanistan,Afghanistan,AF,AFG,4,"36,296,113.00",16.48
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,"1,667.00",South Africa,Afrique du Sud,ZA,ZAF,710,"57,009,756.00",7.91
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,13.00,Albania,Albanie,AL,ALB,8,"2,884,169.00",-1.03
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,275.00,Algeria,Algérie,DZ,DZA,12,"41,389,189.00",10.71
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,"1,514.00",Germany,Allemagne,DE,DEU,276,"82,658,409.00",2.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,225,147.00,43.47,14.80,412.00,94.00,433.00,412.00,NaN,48.00,United Arab Emirates,Émirats arabes unis,AE,ARE,784,"9,487,203.00",3.78
168,Équateur,58,83.00,19.31,6.15,341.00,0.00,0.00,324.00,17.00,340.00,NaN,NaN,NaN,NaN,NaN,"16,785,361.00",8.47
169,États-Unis d'Amérique,231,219.00,55.68,19.93,"18,266.00","3,692.00",123.00,"18,100.00",NaN,"21,914.00",NaN,NaN,NaN,NaN,NaN,"325,084,756.00",3.52
170,Éthiopie,238,0.00,0.13,0.04,14.00,NaN,1.00,14.00,1.00,14.00,Ethiopia,Éthiopie,ET,ETH,231,"106,399,924.00",14.75
171,Îles Salomon,25,18.00,4.45,1.51,3.00,0.00,6.00,3.00,NaN,0.00,Solomon Islands,Îles Salomon,SB,SLB,90,"636,039.00",14.38

In [36]:
PIB = PIB.rename(columns={('Code zone (FAO)'):"Code zone"})
PIB.sample(3)

Élément,Zone,Code zone,Croissance annuelle US$ par habitant,PIB $/habitant
91,Kirghizistan,113,10.95,"1,244.47"
59,Fidji,66,7.96,"6,101.13"
76,Honduras,95,4.74,"2,453.73"

In [37]:
data3 = data1.merge(PIB,on=['Zone','Code zone'],how='left')
data3

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)","(Viande de Volailles, Importations - Quantité)","(Viande de Volailles, Nourriture)","(Viande de Volailles, Pertes)","(Viande de Volailles, Production)",Country,Pays,ISO 2,ISO 3,ISO ON,Population,%_Evolutipon_population_2012/17,Croissance annuelle US$ par habitant,PIB $/habitant
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,28.00,Afghanistan,Afghanistan,AF,AFG,4,"36,296,113.00",16.48,0.65,513.09
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,"1,667.00",South Africa,Afrique du Sud,ZA,ZAF,710,"57,009,756.00",7.91,16.11,"6,121.88"
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,13.00,Albania,Albanie,AL,ALB,8,"2,884,169.00",-1.03,9.85,"4,514.20"
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,275.00,Algeria,Algérie,DZ,DZA,12,"41,389,189.00",10.71,4.14,"4,109.70"
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,"1,514.00",Germany,Allemagne,DE,DEU,276,"82,658,409.00",2.08,5.61,"44,552.06"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,225,147.00,43.47,14.80,412.00,94.00,433.00,412.00,NaN,48.00,United Arab Emirates,Émirats arabes unis,AE,ARE,784,"9,487,203.00",3.78,6.56,"40,644.80"
168,Équateur,58,83.00,19.31,6.15,341.00,0.00,0.00,324.00,17.00,340.00,NaN,NaN,NaN,NaN,NaN,"16,785,361.00",8.47,2.53,"6,213.50"
169,États-Unis d'Amérique,231,219.00,55.68,19.93,"18,266.00","3,692.00",123.00,"18,100.00",NaN,"21,914.00",NaN,NaN,NaN,NaN,NaN,"325,084,756.00",3.52,3.59,"60,116.57"
170,Éthiopie,238,0.00,0.13,0.04,14.00,NaN,1.00,14.00,1.00,14.00,Ethiopia,Éthiopie,ET,ETH,231,"106,399,924.00",14.75,3.63,721.75
171,Îles Salomon,25,18.00,4.45,1.51,3.00,0.00,6.00,3.00,NaN,0.00,Solomon Islands,Îles Salomon,SB,SLB,90,"636,039.00",14.38,4.83,"1,911.43"

In [38]:
data3.isna().sum()

Zone                                                                                 0
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
(Viande de Volailles, Importations - Quantité)                                       2
(Viande de Volailles, Nourriture)                                                    2
(Viande de Volailles, Pertes)                                                      105
(Viande de Volailles, Production)                                                    4
Country                                                                             25
Pays                                                                                25
ISO 2                                                                               26
ISO 3                                                                               25
ISO ON                                                                              25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
dtype: int64

In [39]:
data3.columns

Index([                                                                             'Zone',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                        ('Viande de Volailles', 'Importations - Quantité'),
                                                     ('Viande de Volailles', 'Nourriture'),
                                                         ('Viande de Volailles', 'Pertes'),
                                                     ('Viande de Volailles', 'Production'),
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant'],
      dtype='object')

In [40]:
# Choix des variables 
dfa = data3

In [41]:
dfa = dfa.rename(columns={('Viande de Volailles', 'Importations - Quantité'):'Importations de Volailles en tonne', 
                         ('Viande de Volailles', 'Nourriture'):'Nourriture en tonne',
                         ('Viande de Volailles', 'Production'): 'Production en tonnes',
                        })
dfa

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",Production en tonnes,Country,Pays,ISO 2,ISO 3,ISO ON,Population,%_Evolutipon_population_2012/17,Croissance annuelle US$ par habitant,PIB $/habitant
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,28.00,Afghanistan,Afghanistan,AF,AFG,4,"36,296,113.00",16.48,0.65,513.09
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,"1,667.00",South Africa,Afrique du Sud,ZA,ZAF,710,"57,009,756.00",7.91,16.11,"6,121.88"
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,13.00,Albania,Albanie,AL,ALB,8,"2,884,169.00",-1.03,9.85,"4,514.20"
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,275.00,Algeria,Algérie,DZ,DZA,12,"41,389,189.00",10.71,4.14,"4,109.70"
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,"1,514.00",Germany,Allemagne,DE,DEU,276,"82,658,409.00",2.08,5.61,"44,552.06"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,225,147.00,43.47,14.80,412.00,94.00,433.00,412.00,NaN,48.00,United Arab Emirates,Émirats arabes unis,AE,ARE,784,"9,487,203.00",3.78,6.56,"40,644.80"
168,Équateur,58,83.00,19.31,6.15,341.00,0.00,0.00,324.00,17.00,340.00,NaN,NaN,NaN,NaN,NaN,"16,785,361.00",8.47,2.53,"6,213.50"
169,États-Unis d'Amérique,231,219.00,55.68,19.93,"18,266.00","3,692.00",123.00,"18,100.00",NaN,"21,914.00",NaN,NaN,NaN,NaN,NaN,"325,084,756.00",3.52,3.59,"60,116.57"
170,Éthiopie,238,0.00,0.13,0.04,14.00,NaN,1.00,14.00,1.00,14.00,Ethiopia,Éthiopie,ET,ETH,231,"106,399,924.00",14.75,3.63,721.75
171,Îles Salomon,25,18.00,4.45,1.51,3.00,0.00,6.00,3.00,NaN,0.00,Solomon Islands,Îles Salomon,SB,SLB,90,"636,039.00",14.38,4.83,"1,911.43"

In [42]:
df = dfa.merge(protein_tot,on='Zone',how='left')
df.head()

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,%_Evolutipon_population_2012/17,Croissance annuelle US$ par habitant,PIB $/habitant,Disponibilité alimentaire (Kcal/personne/jour)_Global,Disponibilité intérieure_Global,Disponibilité de protéines en quantité (g/personne/jour)_Global,Exportations - Quantité_Global,Importations - Quantité_Global,Nourriture_Global,Production_Global
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,...,16.48,0.65,513.09,32.00,238.00,2.37,0.00,29.00,226.00,209.00
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,...,7.91,16.11,"6,121.88",213.00,"2,765.00",17.57,503.00,722.00,"2,650.00","2,544.00"
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,...,-1.03,9.85,"4,514.20",205.00,104.00,13.10,8.00,61.00,104.00,55.00
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,...,10.71,4.14,"4,109.70",67.00,717.00,5.59,1.00,57.00,690.00,662.00
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,...,2.08,5.61,"44,552.06",332.00,"6,801.00",25.50,"4,147.00","3,546.00","6,656.00","7,348.00"

In [43]:
df.shape

(172, 27)

In [44]:
df.isna().sum()

Zone                                                                                 0
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country                                                                             25
Pays                                                                                25
ISO 2                                                                               26
ISO 3                                                                               25
ISO ON                                                                              25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
dtype: int64

## Calcul nouvelle variables

In [45]:
df.columns

Index([                                                                             'Zone',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global'],
      dtype='object')

In [46]:
# Taux de dépendance aux importations
# ou taux d'autosuffisance exprime l'importance de la production, par rapport à la consommation intérieure. Le TAS se définit comme suit:


# TDI = Importation / ( Production + I - E)*100

df["TDI"]= (df['Importations - Quantité_Global']/ (df['Production_Global']+df['Importations - Quantité_Global']-df['Exportations - Quantité_Global']))*100
df.head()

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,Croissance annuelle US$ par habitant,PIB $/habitant,Disponibilité alimentaire (Kcal/personne/jour)_Global,Disponibilité intérieure_Global,Disponibilité de protéines en quantité (g/personne/jour)_Global,Exportations - Quantité_Global,Importations - Quantité_Global,Nourriture_Global,Production_Global,TDI
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,...,0.65,513.09,32.00,238.00,2.37,0.00,29.00,226.00,209.00,12.18
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,...,16.11,"6,121.88",213.00,"2,765.00",17.57,503.00,722.00,"2,650.00","2,544.00",26.13
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,...,9.85,"4,514.20",205.00,104.00,13.10,8.00,61.00,104.00,55.00,56.48
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,...,4.14,"4,109.70",67.00,717.00,5.59,1.00,57.00,690.00,662.00,7.94
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,...,5.61,"44,552.06",332.00,"6,801.00",25.50,"4,147.00","3,546.00","6,656.00","7,348.00",52.56

### Ratio

In [47]:
df.columns

Index([                                                                             'Zone',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI'],
      dtype='object')

In [48]:
# Volailles
a = df[('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)')]
b = df['Importations de Volailles en tonne']
c = df['Nourriture en tonne']
d = df['Production en tonnes']
j = df[('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)')]

# Proteines en Générales
e = df['Disponibilité alimentaire (Kcal/personne/jour)_Global']
f = df['Importations - Quantité_Global']
g = df['Nourriture_Global']
h = df['Production_Global']
i = df['Disponibilité de protéines en quantité (g/personne/jour)_Global']


df["%Volailles Dispo alimentaire Kcal/pers/j"] = (a/e)*100
df["%Volailles Importation en tonne"] = (b/f)*100
df["%Volailles Nourriture en tonne"] = (c/g)*100
df["%Volailles Production en tonne"] = (d/h)*100
df["%Volailles disponibilité de proteines"] = (j/i)*100
df.head()

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,Exportations - Quantité_Global,Importations - Quantité_Global,Nourriture_Global,Production_Global,TDI,%Volailles Dispo alimentaire Kcal/pers/j,%Volailles Importation en tonne,%Volailles Nourriture en tonne,%Volailles Production en tonne,%Volailles disponibilité de proteines
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,...,0.00,29.00,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,...,503.00,722.00,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,...,8.00,61.00,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,...,1.00,57.00,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,...,"4,147.00","3,546.00","6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22

# Taux d'ouverture avec PIB par hab ou PIB général
# Calcul PIB
df["PIB"] = df['Population'] * df['PIB $/habitant']

In [49]:
df.columns

Index([                                                                             'Zone',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                '%Volailles Dispo alimentaire Kcal/pers/j',
                                                         '%Volailles Importation en tonne',
                                                          '%Volailles Nourriture en tonne',
                                                          '%Volailles Production en tonne',
                                                   '%Volailles disponibilité de proteines'],
      dtype='object')

In [50]:
# Taux d'ouverture = Part d'échange internationaux dans une économie

df["TO"] = (((df['Exportations - Quantité_Global']+df['Importations - Quantité_Global'])/2)/df['PIB $/habitant'])*100

In [51]:
df.columns

Index([                                                                             'Zone',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                '%Volailles Dispo alimentaire Kcal/pers/j',
                                                         '%Volailles Importation en tonne',
                                                          '%Volailles Nourriture en tonne',
                                                          '%Volailles Production en tonne',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO'],
      dtype='object')

In [52]:
df

,Zone,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,Importations - Quantité_Global,Nourriture_Global,Production_Global,TDI,%Volailles Dispo alimentaire Kcal/pers/j,%Volailles Importation en tonne,%Volailles Nourriture en tonne,%Volailles Production en tonne,%Volailles disponibilité de proteines,TO
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,...,29.00,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78,2.83
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,...,722.00,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31,10.01
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,...,61.00,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79,0.76
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,...,57.00,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24,0.71
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,...,"3,546.00","6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22,8.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,225,147.00,43.47,14.80,412.00,94.00,433.00,412.00,NaN,...,684.00,664.00,166.00,96.75,62.29,63.30,62.05,28.92,63.57,1.02
168,Équateur,58,83.00,19.31,6.15,341.00,0.00,0.00,324.00,17.00,...,67.00,620.00,"1,191.00",10.47,60.58,0.00,52.26,28.55,55.26,5.51
169,États-Unis d'Amérique,231,219.00,55.68,19.93,"18,266.00","3,692.00",123.00,"18,100.00",NaN,...,"3,634.00","31,773.00","36,162.00",11.17,58.56,3.38,56.97,60.60,64.23,9.07
170,Éthiopie,238,0.00,0.13,0.04,14.00,NaN,1.00,14.00,1.00,...,4.00,248.00,250.00,1.58,0.00,25.00,5.65,5.60,4.30,0.35
171,Îles Salomon,25,18.00,4.45,1.51,3.00,0.00,6.00,3.00,NaN,...,7.00,25.00,58.00,25.93,14.06,85.71,12.00,0.00,11.92,1.18

## Logistique

In [53]:
Logistique = pd.read_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\SOURCE\DAN-P9-data\Indice de performance logistique.csv', delimiter=";")
Logistique = Logistique[['Country Name',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020']]
Logistique.head()

,Country Name,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2.39,NaN,NaN,2.38,NaN,2.46,NaN,2.47,NaN,2.58,NaN,2.49,NaN,NaN
2,Afghanistan,1.21,NaN,NaN,2.24,NaN,2.30,NaN,2.07,NaN,2.14,NaN,1.95,NaN,NaN
3,NaN,2.30,NaN,NaN,2.46,NaN,2.45,NaN,2.45,NaN,2.35,NaN,2.41,NaN,NaN
4,Angola,2.48,NaN,NaN,2.25,NaN,2.28,NaN,2.54,NaN,2.24,NaN,2.05,NaN,NaN

In [54]:
Logistique.shape

(266, 15)

In [55]:
Logistique.isna().sum()

Country Name      2
2007             76
2008            259
2009            266
2010             73
2011            257
2012             74
2013            257
2014             67
2015            258
2016             67
2017            258
2018             68
2019            257
2020            266
dtype: int64

In [56]:
# Harmonisation du nom des pays des 2 df

Logistique = Logistique.replace('États-Unis', "États-Unis d\'Amérique")
Logistique = Logistique.replace('Corée', 'République de Corée')
Logistique = Logistique.replace('Chine', 'Chine, continentale')
Logistique = Logistique.replace('Bolivie', 'Bolivie (État plurinational de)')
Logistique = Logistique.replace('Royaume-Uni', "Royaume-Uni de Grande-Bretagne et d\'Irlande du Nord")
Logistique = Logistique.replace('Moldova', 'République de Moldova')
Logistique = Logistique.replace('Macedonia', 'North Macedonia')
Logistique = Logistique.replace('Tanzanie', 'République-Unie de Tanzanie')
Logistique = Logistique.replace('Venezuela', 'Venezuela (République bolivarienne du)')
Logistique = Logistique.replace('Iran', 'Iran (République islamique d\')')
Logistique = Logistique.replace('Iran', 'Iran (République islamique d\')')

In [57]:
Logistique = pd.melt(Logistique, id_vars="Country Name")

In [58]:
Logistique = Logistique.groupby("Country Name").mean()
Logistique = Logistique.rename(columns={"value":"Indice de performance logistique"})
Logistique = Logistique.reset_index()

In [59]:
Logistique = Logistique.rename(columns={"Country Name":"Pays"})
Logistique

,Pays,Indice de performance logistique
0,Afghanistan,1.99
1,Afrique du Nord et Moyen-Orient,2.80
2,Afrique du Nord et Moyen-Orient (BIRD et IDA),2.51
3,Afrique du Nord et Moyen-Orient (hors revenu é...,2.51
4,Afrique du Sud,3.54
...,...,...
254,Îles Marshall,NaN
255,Îles Salomon,2.40
256,Îles Turques-et-Caïques,NaN
257,Îles Vierges (EU),NaN
258,Îles Vierges britanniques,NaN

In [60]:
# Pays sans données sur la qualité de la logistique

Logistique[Logistique['Indice de performance logistique'].isnull()]

                                        Pays  Indice de performance logistique
15                                   Andorre                               NaN
17                        Antigua-et-Barbuda                               NaN
21                                     Aruba                               NaN
36                                   Barbade                               NaN
38                                    Belize                               NaN
39                                  Bermudes                               NaN
51                                Cabo Verde                               NaN
58                       Cisjordanie et Gaza                               NaN
65                                   Curacao                               NaN
69                                 Dominique                               NaN
73                                  Eswatini                               NaN
87                                 Gibraltar                               NaN
88                                   Grenade                               NaN
89                                 Groenland                               NaN
91                                      Guam                               NaN
117                                 Kiribati                               NaN
118                                   Kosovo                               NaN
126                            Liechtenstein                               NaN
136                                Mariannes                               NaN
141                               Micronésie                               NaN
142                                   Monaco                               NaN
149                                    Nauru                               NaN
153                            Non classifié                               NaN
155                       Nouvelle-Calédonie                               NaN
162                                   Palaos                               NaN
175                      Polynésie française                               NaN
176                               Porto Rico                               NaN
186  Région administrative spéciale de Macao                               NaN
197                     Saint-Kitts-et-Nevis                               NaN
198                              Saint-Marin                               NaN
199                        Saint-Martin (fr)                               NaN
200          Saint-Vincent-et-les Grenadines                               NaN
201                             Sainte-Lucie                               NaN
202                                    Samoa                               NaN
203                        Samoa américaines                               NaN
206                               Seychelles                               NaN
209                Sint Maarten (Dutch part)                               NaN
213                            Soudan du Sud                               NaN
216                                 Suriname                               NaN
224                                    Tonga                               NaN
229                                   Tuvalu                               NaN
233                                  Vanuatu                               NaN
250                               Île de Man                               NaN
251                     Îles Anglo-Normandes                               NaN
252                             Îles Caïmans                               NaN
253                               Îles Féroé                               NaN
254                            Îles Marshall                               NaN
256                  Îles Turques-et-Caïques                               NaN
257                        Îles Vierges (EU)                               NaN
258                Îles Vierges britanniques                               NaN

In [61]:
Logistique.isna().sum()

Pays                                 0
Indice de performance logistique    50
dtype: int64

In [62]:
# Logistique.Zone.unique()

In [63]:
Liste_Pays.columns

Index(['Country', 'Pays', 'ISO 2', 'ISO 3', 'ISO ON'], dtype='object')

In [64]:
Liste_Pays.head(2)

         Country         Pays ISO 2 ISO 3 ISO ON
0    Afghanistan  Afghanistan    AF   AFG      4
1  Aland Islands   Îles Aland    AX   ALA    248

In [65]:
Logistique.head(2)

                              Pays  Indice de performance logistique
0                      Afghanistan                              1.99
1  Afrique du Nord et Moyen-Orient                              2.80

In [66]:
Logistique = Liste_Pays.merge(Logistique,on='Pays',how='right')

In [67]:
Logistique

,Country,Pays,ISO 2,ISO 3,ISO ON,Indice de performance logistique
0,Afghanistan,Afghanistan,AF,AFG,4,1.99
1,NaN,Afrique du Nord et Moyen-Orient,NaN,NaN,NaN,2.80
2,NaN,Afrique du Nord et Moyen-Orient (BIRD et IDA),NaN,NaN,NaN,2.51
3,NaN,Afrique du Nord et Moyen-Orient (hors revenu é...,NaN,NaN,NaN,2.51
4,South Africa,Afrique du Sud,ZA,ZAF,710,3.54
...,...,...,...,...,...,...
254,NaN,Îles Marshall,NaN,NaN,NaN,NaN
255,Solomon Islands,Îles Salomon,SB,SLB,90,2.40
256,NaN,Îles Turques-et-Caïques,NaN,NaN,NaN,NaN
257,NaN,Îles Vierges (EU),NaN,NaN,NaN,NaN
258,NaN,Îles Vierges britanniques,NaN,NaN,NaN,NaN

In [68]:
Logistique.isna().sum()

Country                             87
Pays                                 0
ISO 2                               88
ISO 3                               87
ISO ON                              87
Indice de performance logistique    50
dtype: int64

In [69]:
# Valeur nulle dataX

Logistique[Logistique['Indice de performance logistique'].isnull()]

,Country,Pays,ISO 2,ISO 3,ISO ON,Indice de performance logistique
15,Andorra,Andorre,AD,AND,20,NaN
17,Antigua and Barbuda,Antigua-et-Barbuda,AG,ATG,28,NaN
21,Aruba,Aruba,AW,ABW,533,NaN
36,Barbados,Barbade,BB,BRB,52,NaN
38,Belize,Belize,BZ,BLZ,84,NaN
39,Bermuda,Bermudes,BM,BMU,60,NaN
51,NaN,Cabo Verde,NaN,NaN,NaN,NaN
58,NaN,Cisjordanie et Gaza,NaN,NaN,NaN,NaN
65,NaN,Curacao,NaN,NaN,NaN,NaN
69,Dominica,Dominique,DM,DMA,212,NaN
73,NaN,Eswatini,NaN,NaN,NaN,NaN
87,Gibraltar,Gibraltar,GI,GIB,292,NaN
88,Grenada,Grenade,GD,GRD,308,NaN
89,Greenland,Groenland,GL,GRL,304,NaN
91,Guam,Guam,GU,GUM,316,NaN
117,Kiribati,Kiribati,KI,KIR,296,NaN
118,NaN,Kosovo,NaN,NaN,NaN,NaN
126,Liechtenstein,Liechtenstein,LI,LIE,438,NaN
136,NaN,Mariannes,NaN,NaN,NaN,NaN
141,NaN,Micronésie,NaN,NaN,NaN,NaN
142,Monaco,Monaco,MC,MCO,492,NaN
149,Nauru,Nauru,NR,NRU,520,NaN
153,NaN,Non classifié,NaN,NaN,NaN,NaN
155,New Caledonia,Nouvelle-Calédonie,NC,NCL,540,NaN
162,NaN,Palaos,NaN,NaN,NaN,NaN
175,French Polynesia,Polynésie française,PF,PYF,258,NaN
176,NaN,Porto Rico,NaN,NaN,NaN,NaN
186,NaN,Région administrative spéciale de Macao,NaN,NaN,NaN,NaN
197,Saint Kitts and Nevis,Saint-Kitts-et-Nevis,KN,KNA,659,NaN
198,San Marino,Saint-Marin,SM,SMR,674,NaN
199,NaN,Saint-Martin (fr),NaN,NaN,NaN,NaN
200,Saint Vincent and Grenadines,Saint-Vincent-et-les Grenadines,VC,VCT,670,NaN
201,Saint Lucia,Sainte-Lucie,LC,LCA,662,NaN
202,Samoa,Samoa,WS,WSM,882,NaN
203,American Samoa,Samoa américaines,AS,ASM,16,NaN
206,Seychelles,Seychelles,SC,SYC,690,NaN
209,NaN,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN
213,NaN,Soudan du Sud,NaN,NaN,NaN,NaN
216,NaN,Suriname,NaN,NaN,NaN,NaN
224,Tonga,Tonga,TO,TON,776,NaN
229,Tuvalu,Tuvalu,TV,TUV,798,NaN
233,Vanuatu,Vanuatu,VU,VUT,548,NaN
250,NaN,Île de Man,NaN,NaN,NaN,NaN
251,NaN,Îles Anglo-Normandes,NaN,NaN,NaN,NaN
252,NaN,Îles Caïmans,NaN,NaN,NaN,NaN
253,Faroe Islands,Îles Féroé,FO,FRO,234,NaN
254,NaN,Îles Marshall,NaN,NaN,NaN,NaN
256,NaN,Îles Turques-et-Caïques,NaN,NaN,NaN,NaN
257,NaN,Îles Vierges (EU),NaN,NaN,NaN,NaN
258,NaN,Îles Vierges britanniques,NaN,NaN,NaN,NaN

In [70]:
Logistique.shape

(259, 6)

In [71]:
Logistique.isna().sum()

Country                             87
Pays                                 0
ISO 2                               88
ISO 3                               87
ISO ON                              87
Indice de performance logistique    50
dtype: int64

Logistique = Logistique[['code zone', 'Zone', 'M49 code', 'ISO-alpha3 code','Indice de performance logistique']]
Logistique = Logistique.rename(columns={"Pays":"Zone"})

In [72]:
df = df.rename(columns={"Zone":"Pays"})

In [73]:
Logistique.isna().sum()

Country                             87
Pays                                 0
ISO 2                               88
ISO 3                               87
ISO ON                              87
Indice de performance logistique    50
dtype: int64

In [74]:
Liste_Pays

                       Country               Pays ISO 2 ISO 3 ISO ON
0                  Afghanistan        Afghanistan    AF   AFG      4
1                Aland Islands         Îles Aland    AX   ALA    248
2                      Albania            Albanie    AL   ALB      8
3                      Algeria            Algérie    DZ   DZA     12
4               American Samoa  Samoa américaines    AS   ASM     16
..                         ...                ...   ...   ...    ...
244  Wallis and Futuna Islands   Wallis-et-Futuna    WF   WLF    876
245             Western Sahara  Sahara occidental    EH   ESH    732
246                      Yemen              Yémen    YE   YEM    887
247                     Zambia             Zambie    ZM   ZMB    894
248                   Zimbabwe           Zimbabwe    ZW   ZWE    716

[249 rows x 5 columns]

In [75]:
df

,Pays,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,Importations - Quantité_Global,Nourriture_Global,Production_Global,TDI,%Volailles Dispo alimentaire Kcal/pers/j,%Volailles Importation en tonne,%Volailles Nourriture en tonne,%Volailles Production en tonne,%Volailles disponibilité de proteines,TO
0,Afghanistan,2,5.00,1.53,0.54,57.00,NaN,29.00,55.00,2.00,...,29.00,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78,2.83
1,Afrique du Sud,202,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,...,722.00,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31,10.01
2,Albanie,3,85.00,16.36,6.26,47.00,0.00,38.00,47.00,NaN,...,61.00,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79,0.76
3,Algérie,4,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,...,57.00,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24,0.71
4,Allemagne,79,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",NaN,...,"3,546.00","6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22,8.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,225,147.00,43.47,14.80,412.00,94.00,433.00,412.00,NaN,...,684.00,664.00,166.00,96.75,62.29,63.30,62.05,28.92,63.57,1.02
168,Équateur,58,83.00,19.31,6.15,341.00,0.00,0.00,324.00,17.00,...,67.00,620.00,"1,191.00",10.47,60.58,0.00,52.26,28.55,55.26,5.51
169,États-Unis d'Amérique,231,219.00,55.68,19.93,"18,266.00","3,692.00",123.00,"18,100.00",NaN,...,"3,634.00","31,773.00","36,162.00",11.17,58.56,3.38,56.97,60.60,64.23,9.07
170,Éthiopie,238,0.00,0.13,0.04,14.00,NaN,1.00,14.00,1.00,...,4.00,248.00,250.00,1.58,0.00,25.00,5.65,5.60,4.30,0.35
171,Îles Salomon,25,18.00,4.45,1.51,3.00,0.00,6.00,3.00,NaN,...,7.00,25.00,58.00,25.93,14.06,85.71,12.00,0.00,11.92,1.18

In [76]:
Liste_Pays.columns

Index(['Country', 'Pays', 'ISO 2', 'ISO 3', 'ISO ON'], dtype='object')

In [77]:
df.columns

Index([                                                                             'Pays',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                                 'Country',
                                                                                    'Pays',
                                                                                   'ISO 2',
                                                                                   'ISO 3',
                                                                                  'ISO ON',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                '%Volailles Dispo alimentaire Kcal/pers/j',
                                                         '%Volailles Importation en tonne',
                                                          '%Volailles Nourriture en tonne',
                                                          '%Volailles Production en tonne',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO'],
      dtype='object')

In [78]:
df.isna().sum()

Pays                                                                                 0
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country                                                                             25
Pays                                                                                25
ISO 2                                                                               26
ISO 3                                                                               25
ISO ON                                                                              25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
dtype: int64

In [79]:
for idx,column in enumerate(df.columns):
    print(idx,column)

0 Pays
1 Code zone
2 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)')
3 ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)')
4 ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)')
5 ('Viande de Volailles', 'Disponibilité intérieure')
6 ('Viande de Volailles', 'Exportations - Quantité')
7 Importations de Volailles en tonne
8 Nourriture en tonne
9 ('Viande de Volailles', 'Pertes')
10 Production en tonnes
11 Country
12 Pays
13 ISO 2
14 ISO 3
15 ISO ON
16 Population
17 %_Evolutipon_population_2012/17
18 Croissance annuelle US$ par habitant
19 PIB $/habitant
20 Disponibilité alimentaire (Kcal/personne/jour)_Global
21 Disponibilité intérieure_Global
22 Disponibilité de protéines en quantité (g/personne/jour)_Global
23 Exportations - Quantité_Global
24 Importations - Quantité_Global
25 Nourriture_Global
26 Production_Global
27 TDI
28 %Volailles Dispo alimentaire Kcal/pers/j
29 %Volailles Importation en tonne
30 %Volailles Nourriture en tonne
31 %Volailles Production en tonne
32 %Volailles disponibilité de proteines
33 TO

In [80]:
# Suppression colonne duplicate ex/ Pays

df = df.loc[:,~df.columns.duplicated()]

In [81]:
df.isna().sum()

Pays                                                                                 0
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country                                                                             25
ISO 2                                                                               26
ISO 3                                                                               25
ISO ON                                                                              25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
dtype: int64

In [82]:

df=Liste_Pays.merge(df, on='Pays', how="right")

In [83]:
df.isna().sum()

Country_x                                                                           25
Pays                                                                                 0
ISO 2_x                                                                             26
ISO 3_x                                                                             25
ISO ON_x                                                                            25
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
dtype: int64

In [84]:
Logistique.sample(1)

,Country,Pays,ISO 2,ISO 3,ISO ON,Indice de performance logistique
56,NaN,"Chine, continentale",NaN,NaN,NaN,3.75

In [85]:
df.sample(3)

,Country_x,Pays,ISO 2_x,ISO 3_x,ISO ON_x,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)",...,Importations - Quantité_Global,Nourriture_Global,Production_Global,TDI,%Volailles Dispo alimentaire Kcal/pers/j,%Volailles Importation en tonne,%Volailles Nourriture en tonne,%Volailles Production en tonne,%Volailles disponibilité de proteines,TO
149,Chad,Tchad,TD,TCD,148,39,2.00,0.45,0.15,7.00,...,1.00,381.00,395.00,0.25,1.80,100.00,1.84,1.52,1.46,0.07
82,Lesotho,Lesotho,LS,LSO,426,122,27.00,7.93,2.72,17.00,...,30.00,39.00,11.00,75.00,28.72,50.00,43.59,18.18,40.36,1.35
143,Sri Lanka,Sri Lanka,LK,LKA,144,38,26.00,7.78,2.64,192.00,...,224.00,751.00,653.00,26.05,30.95,0.00,21.84,29.40,23.06,2.91

In [86]:
df = df.rename(columns={"Country_x":"Country"})
df = df.rename(columns={"ISO 3_x":"ISO 3"})

In [87]:
data4 = df.merge(Logistique,on=['Country','Pays','ISO 3'],how='left')

In [88]:
data4.isna().sum()

Country                                                                             25
Pays                                                                                 0
ISO 2_x                                                                             26
ISO 3                                                                               25
ISO ON_x                                                                            25
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
ISO 2                                                                               29
ISO ON                                                                              28
Indice de performance logistique                                                    24
dtype: int64

In [89]:
data4.shape

(172, 40)

In [90]:
# Extraction de mes valeurs nulles (24)
# Imputation par ....

data4[data4['Indice de performance logistique'].isnull()]

,Country,Pays,ISO 2_x,ISO 3,ISO ON_x,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)",...,TDI,%Volailles Dispo alimentaire Kcal/pers/j,%Volailles Importation en tonne,%Volailles Nourriture en tonne,%Volailles Production en tonne,%Volailles disponibilité de proteines,TO,ISO 2,ISO ON,Indice de performance logistique
6,Antigua and Barbuda,Antigua-et-Barbuda,AG,ATG,28,8,233.00,54.10,17.77,7.00,...,75.00,62.63,58.33,50.00,0.00,54.63,0.04,AG,28,NaN
15,Barbados,Barbade,BB,BRB,52,14,199.00,46.78,15.33,17.00,...,43.75,57.18,14.29,50.00,71.43,52.68,0.05,BB,52,NaN
17,Belize,Belize,BZ,BLZ,84,23,110.00,25.69,8.26,19.00,...,9.09,52.38,0.00,58.82,38.46,55.07,0.07,BZ,84,NaN
26,NaN,Cabo Verde,NaN,NaN,NaN,35,62.00,17.62,6.52,10.00,...,187.50,35.23,80.00,47.37,4.55,50.31,0.67,NaN,NaN,NaN
31,"Hong Kong RAS, China",Chine - RAS de Hong-Kong,HK,HKG,344,96,210.00,53.51,22.26,280.00,...,157.89,27.93,48.48,32.75,10.00,42.23,2.99,NaN,NaN,NaN
32,NaN,Chine - RAS de Macao,NaN,NaN,NaN,128,142.00,34.47,11.90,19.00,...,87.36,22.19,30.26,26.25,27.27,28.24,0.05,NaN,NaN,NaN
33,NaN,"Chine, Taiwan Province de",NaN,NaN,NaN,214,126.00,33.17,11.01,785.00,...,39.06,29.93,15.06,36.68,28.34,41.28,NaN,NaN,NaN,NaN
44,Dominica,Dominique,DM,DMA,212,55,150.00,35.19,11.52,4.00,...,80.00,52.45,100.00,60.00,0.00,48.73,0.03,DM,212,NaN
48,NaN,Eswatini,NaN,NaN,NaN,209,22.00,6.46,2.23,7.00,...,43.75,40.74,28.57,53.85,66.67,47.65,0.09,NaN,NaN,NaN
56,Grenada,Grenade,GD,GRD,308,86,192.00,45.70,15.50,8.00,...,81.82,62.95,77.78,62.50,33.33,57.94,0.05,GD,308,NaN
61,NaN,Guyana,NaN,NaN,NaN,91,165.00,38.34,12.33,32.00,...,11.11,74.66,0.00,65.22,56.36,69.31,0.16,NaN,NaN,NaN
79,Kyrgyzstan,Kirghizistan,KG,KGZ,417,113,11.00,3.10,1.08,32.00,...,20.65,12.36,78.12,17.76,5.60,17.65,1.37,NaN,NaN,NaN
80,Kiribati,Kiribati,KI,KIR,296,83,63.00,17.98,6.65,2.00,...,4.00,21.72,33.33,22.22,0.62,22.30,2.80,KI,296,NaN
108,New Caledonia,Nouvelle-Calédonie,NC,NCL,540,153,136.00,38.71,14.05,11.00,...,77.42,41.85,37.50,50.00,12.50,55.16,0.04,NC,540,NaN
120,French Polynesia,Polynésie française,PF,PYF,258,70,167.00,47.40,16.20,15.00,...,64.86,36.38,62.50,41.94,7.14,43.18,0.06,PF,258,NaN
131,NaN,République populaire démocratique de Corée,NaN,NaN,NaN,116,8.00,1.62,0.49,43.00,...,2.95,8.99,0.00,8.84,8.33,7.44,5.10,NaN,NaN,NaN
133,Saint Kitts and Nevis,Saint-Kitts-et-Nevis,KN,KNA,659,188,190.00,55.77,19.22,4.00,...,22.73,54.60,80.00,60.00,0.00,61.15,0.01,KN,659,NaN
134,Saint Vincent and Grenadines,Saint-Vincent-et-les Grenadines,VC,VCT,670,191,243.00,72.31,25.10,8.00,...,20.41,68.84,90.00,72.73,0.00,76.04,0.07,VC,670,NaN
135,Saint Lucia,Sainte-Lucie,LC,LCA,662,189,241.00,56.69,19.00,11.00,...,73.91,47.25,58.82,50.00,16.67,51.32,0.08,LC,662,NaN
136,Samoa,Samoa,WS,WSM,882,244,217.00,64.77,21.88,15.00,...,84.38,41.81,62.96,50.00,0.00,53.20,0.40,WS,882,NaN
140,Slovakia,Slovaquie,SK,SVK,703,199,48.00,13.90,4.74,74.00,...,85.39,20.00,21.14,23.60,51.08,27.48,1.10,NaN,NaN,NaN
145,NaN,Suriname,NaN,NaN,NaN,207,112.00,31.06,9.27,25.00,...,52.27,54.11,78.26,64.29,23.81,62.38,0.39,NaN,NaN,NaN
150,NaN,Tchéquie,NaN,NaN,NaN,167,82.00,21.96,7.50,249.00,...,68.45,26.11,18.89,27.89,35.98,31.42,1.91,NaN,NaN,NaN
160,Vanuatu,Vanuatu,VU,VUT,548,155,40.00,11.66,4.05,3.00,...,31.03,16.60,44.44,21.43,1.69,24.74,0.78,VU,548,NaN

In [91]:
Logistique.loc[Logistique["Pays"]=='États-Unis d\'Amérique']

,Country,Pays,ISO 2,ISO 3,ISO ON,Indice de performance logistique
248,NaN,États-Unis d'Amérique,NaN,NaN,NaN,3.90

In [92]:
# Chine - RAS de Hong-Kong / Chine - RAS de Macao / Chine, Taiwan Province de
# Remplacement NAN par Valeur Chine 3.75

data3.loc[data3["Pays"]=='Chine, continentale']

Empty DataFrame
Columns: [Zone, Code zone, (Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour)), (Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an)), (Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour)), (Viande de Volailles, Disponibilité intérieure), (Viande de Volailles, Exportations - Quantité), (Viande de Volailles, Importations - Quantité), (Viande de Volailles, Nourriture), (Viande de Volailles, Pertes), (Viande de Volailles, Production), Country, Pays, ISO 2, ISO 3, ISO ON, Population, %_Evolutipon_population_2012/17, Croissance annuelle US$ par habitant, PIB $/habitant]
Index: []

In [93]:
data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"Indice de performance logistique"] = data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"Indice de performance logistique"].replace(0.0,3.75, regex=True)
data4.loc[data4["Pays"]=='Chine - RAS de Macao',"Indice de performance logistique"] = data4.loc[data4["Pays"]=='Chine - RAS de Macao',"Indice de performance logistique"].replace(0.0,3.75, regex=True)
data4.loc[data4["Pays"]=='Chine - RAS de Hong-Kong',"Indice de performance logistique"] = data4.loc[data4["Pays"]=='Chine - RAS de Hong-Kong',"Indice de performance logistique"].replace(0.0,3.75, regex=True)

In [94]:
#data3 = data3.fillna(0)

In [95]:
# Cas Taiwan

data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"PIB $/habitant"] = data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"PIB $/habitant"].replace(0.0,59398, regex=True)
data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"Croissance annuelle US$ par habitant"] = data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"Croissance annuelle US$ par habitant"].replace(0.0,2.55, regex=True)
data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"TO"] = data4.loc[data4["Pays"]=='Chine, Taiwan Province de',"TO"].replace(0.0,102.01, regex=True)

In [96]:
# Verification de la modification par la moyenne du cluster cluster
data4[data4['Indice de performance logistique']==0.0]

Empty DataFrame
Columns: [Country, Pays, ISO 2_x, ISO 3, ISO ON_x, Code zone, (Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour)), (Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an)), (Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour)), (Viande de Volailles, Disponibilité intérieure), (Viande de Volailles, Exportations - Quantité), Importations de Volailles en tonne, Nourriture en tonne, (Viande de Volailles, Pertes), Production en tonnes, Country_y, ISO 2_y, ISO 3_y, ISO ON_y, Population, %_Evolutipon_population_2012/17, Croissance annuelle US$ par habitant, PIB $/habitant, Disponibilité alimentaire (Kcal/personne/jour)_Global, Disponibilité intérieure_Global, Disponibilité de protéines en quantité (g/personne/jour)_Global, Exportations - Quantité_Global, Importations - Quantité_Global, Nourriture_Global, Production_Global, TDI, %Volailles Dispo alimentaire Kcal/pers/j, %Volailles Importation en tonne, %Volailles Nourriture en tonne, %Volailles Production en tonne, %Volailles disponibilité de proteines, TO, ISO 2, ISO ON, Indice de performance logistique]
Index: []

[0 rows x 40 columns]

In [97]:
data4.isna().sum()

Country                                                                             25
Pays                                                                                 0
ISO 2_x                                                                             26
ISO 3                                                                               25
ISO ON_x                                                                            25
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
ISO 2                                                                               29
ISO ON                                                                              28
Indice de performance logistique                                                    24
dtype: int64

## Stabilité politique

In [98]:
stabilité_politique = pd.read_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\SOURCE\DAN-P9-data\stabilité politique.csv', delimiter=";")
stabilité_politique.head()

,ISO-alpha3 code,Zone,code,type,2012,2013,2014,2015,2016,2017
0,ABW,Aruba,376,Political Stability No Violence,1.26,1.31,1.16,1.23,1.28,1.34
1,AFG,Afghanistan,376,Political Stability No Violence,-2.42,-2.52,-2.41,-2.57,-2.67,-2.80
2,AGO,Angola,376,Political Stability No Violence,-0.39,-0.39,-0.33,-0.50,-0.32,-0.38
3,ALB,Albania,376,Political Stability No Violence,-0.14,0.09,0.49,0.35,0.34,0.38
4,AND,Andorra,376,Political Stability No Violence,1.29,1.28,1.29,1.39,1.41,1.42

In [99]:
stabilité_politique["Stabilité_politique_12_17"]=(stabilité_politique['2012']+stabilité_politique['2013']+stabilité_politique['2014']+stabilité_politique['2015']+stabilité_politique['2016']+stabilité_politique['2017'])/6

In [100]:
stabilité_politique = stabilité_politique[['ISO-alpha3 code', 'Zone','Stabilité_politique_12_17']]
stabilité_politique = stabilité_politique.rename(columns={"ISO-alpha3 code":"ISO 3"})
stabilité_politique = stabilité_politique.rename(columns={"Zone":"Country"})
stabilité_politique.columns

Index(['ISO 3', 'Country', 'Stabilité_politique_12_17'], dtype='object')

In [101]:
Liste_Pays.columns

Index(['Country', 'Pays', 'ISO 2', 'ISO 3', 'ISO ON'], dtype='object')

In [102]:
stabilité_politique = stabilité_politique.merge(Liste_Pays, on=['ISO 3', 'Country'], how= "left")

In [103]:
stabilité_politique.isna().sum()

ISO 3                         0
Country                       0
Stabilité_politique_12_17     1
Pays                         30
ISO 2                        31
ISO ON                       30
dtype: int64

In [104]:
data4.isna().sum()

Country                                                                             25
Pays                                                                                 0
ISO 2_x                                                                             26
ISO 3                                                                               25
ISO ON_x                                                                            25
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
ISO 2                                                                               29
ISO ON                                                                              28
Indice de performance logistique                                                    24
dtype: int64

In [105]:
data_complete = stabilité_politique.merge(data4, on=['Pays','ISO 3', 'Country'], how="right")

C:\Users\melle\AppData\Local\Temp\ipykernel_23452\4096371889.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ISO ON_y', 'ISO 2_y'} in the result is deprecated and will raise a MergeError in a future version.
  data_complete = stabilité_politique.merge(data4, on=['Pays','ISO 3', 'Country'], how="right")

In [106]:
data_complete.shape

(172, 43)

In [107]:
data_complete.isna().sum()

ISO 3                                                                               25
Country                                                                             25
Stabilité_politique_12_17                                                           38
Pays                                                                                 0
ISO 2_x                                                                             39
ISO ON_x                                                                            38
ISO 2_x                                                                             26
ISO ON_x                                                                            25
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
ISO 2_y                                                                             29
ISO ON_y                                                                            28
Indice de performance logistique                                                    24
dtype: int64

In [108]:
#data_complete.dropna(inplace=True)

In [109]:
data_complete.columns

Index([                                                                            'ISO 3',
                                                                                 'Country',
                                                               'Stabilité_politique_12_17',
                                                                                    'Pays',
                                                                                 'ISO 2_x',
                                                                                'ISO ON_x',
                                                                                 'ISO 2_x',
                                                                                'ISO ON_x',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                               'Country_y',
                                                                                 'ISO 2_y',
                                                                                 'ISO 3_y',
                                                                                'ISO ON_y',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                '%Volailles Dispo alimentaire Kcal/pers/j',
                                                         '%Volailles Importation en tonne',
                                                          '%Volailles Nourriture en tonne',
                                                          '%Volailles Production en tonne',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO',
                                                                                 'ISO 2_y',
                                                                                'ISO ON_y',
                                                        'Indice de performance logistique'],
      dtype='object')

In [110]:
data_complete.isna().sum()

ISO 3                                                                               25
Country                                                                             25
Stabilité_politique_12_17                                                           38
Pays                                                                                 0
ISO 2_x                                                                             39
ISO ON_x                                                                            38
ISO 2_x                                                                             26
ISO ON_x                                                                            25
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance annuelle US$ par habitant                                                 1
PIB $/habitant                                                                       1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité intérieure_Global                                                      0
Disponibilité de protéines en quantité (g/personne/jour)_Global                      0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Volailles Dispo alimentaire Kcal/pers/j                                             0
%Volailles Importation en tonne                                                      2
%Volailles Nourriture en tonne                                                       2
%Volailles Production en tonne                                                       4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
ISO 2_y                                                                             29
ISO ON_y                                                                            28
Indice de performance logistique                                                    24
dtype: int64

## Mes Variables

In [111]:
data_complete.columns

Index([                                                                            'ISO 3',
                                                                                 'Country',
                                                               'Stabilité_politique_12_17',
                                                                                    'Pays',
                                                                                 'ISO 2_x',
                                                                                'ISO ON_x',
                                                                                 'ISO 2_x',
                                                                                'ISO ON_x',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                               'Country_y',
                                                                                 'ISO 2_y',
                                                                                 'ISO 3_y',
                                                                                'ISO ON_y',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                '%Volailles Dispo alimentaire Kcal/pers/j',
                                                         '%Volailles Importation en tonne',
                                                          '%Volailles Nourriture en tonne',
                                                          '%Volailles Production en tonne',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO',
                                                                                 'ISO 2_y',
                                                                                'ISO ON_y',
                                                        'Indice de performance logistique'],
      dtype='object')

In [112]:
# Suppression colonne duplicate ex/ Pays

data_complete = data_complete.loc[:,~data_complete.columns.duplicated()]

In [113]:
data_complete.columns

Index([                                                                            'ISO 3',
                                                                                 'Country',
                                                               'Stabilité_politique_12_17',
                                                                                    'Pays',
                                                                                 'ISO 2_x',
                                                                                'ISO ON_x',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                               'Country_y',
                                                                                 'ISO 2_y',
                                                                                 'ISO 3_y',
                                                                                'ISO ON_y',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                    'Croissance annuelle US$ par habitant',
                                                                          'PIB $/habitant',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                         'Disponibilité intérieure_Global',
                         'Disponibilité de protéines en quantité (g/personne/jour)_Global',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                '%Volailles Dispo alimentaire Kcal/pers/j',
                                                         '%Volailles Importation en tonne',
                                                          '%Volailles Nourriture en tonne',
                                                          '%Volailles Production en tonne',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO',
                                                        'Indice de performance logistique'],
      dtype='object')

In [114]:
data_complete.dtypes

ISO 3                                                                               object
Country                                                                             object
Stabilité_politique_12_17                                                          float64
Pays                                                                                object
ISO 2_x                                                                             object
ISO ON_x                                                                            object
Code zone                                                                            int64
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))              float64
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))      float64
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))    float64
(Viande de Volailles, Disponibilité intérieure)                                    float64
(Viande de Volailles, Exportations - Quantité)                                     float64
Importations de Volailles en tonne                                                 float64
Nourriture en tonne                                                                float64
(Viande de Volailles, Pertes)                                                      float64
Production en tonnes                                                               float64
Country_y                                                                           object
ISO 2_y                                                                             object
ISO 3_y                                                                             object
ISO ON_y                                                                            object
Population                                                                         float64
%_Evolutipon_population_2012/17                                                    float64
Croissance annuelle US$ par habitant                                               float64
PIB $/habitant                                                                     float64
Disponibilité alimentaire (Kcal/personne/jour)_Global                              float64
Disponibilité intérieure_Global                                                    float64
Disponibilité de protéines en quantité (g/personne/jour)_Global                    float64
Exportations - Quantité_Global                                                     float64
Importations - Quantité_Global                                                     float64
Nourriture_Global                                                                  float64
Production_Global                                                                  float64
TDI                                                                                float64
%Volailles Dispo alimentaire Kcal/pers/j                                           float64
%Volailles Importation en tonne                                                    float64
%Volailles Nourriture en tonne                                                     float64
%Volailles Production en tonne                                                     float64
%Volailles disponibilité de proteines                                              float64
TO                                                                                 float64
Indice de performance logistique                                                   float64
dtype: object

'Zone' : Pays
'%_Evolutipon_population_2012/17' : Population de 2017-2012/2012 * 100
'Croissance annuelle US$ par habitant' : Données FAO 
'PIB $/habitant': Donnée FAO 
'TO': Taux d'ouverture = [(Exportations+Importations)/2]/PIB*100

'Disponibilité de protéines en quantité (g/personne/jour)_Global': Aggregation par Zone
Se referer à # 1.5 Calcul des ratio:
'%Volailles Dispo alimentaire Kcal/pers/j',
'%Volailles Importation en tonne', '%Volailles Nourriture en tonne',
'%Volailles Production en tonne']


Indice de performance logistique : Données banque Mondiale : performance globale (1=faible et 5=élevée)

Stabilité politique:

## df_final

In [115]:
df_final = pd.DataFrame.copy(data_complete)
df_final

,ISO 3,Country,Stabilité_politique_12_17,Pays,ISO 2_x,ISO ON_x,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))",...,Nourriture_Global,Production_Global,TDI,%Volailles Dispo alimentaire Kcal/pers/j,%Volailles Importation en tonne,%Volailles Nourriture en tonne,%Volailles Production en tonne,%Volailles disponibilité de proteines,TO,Indice de performance logistique
0,AFG,Afghanistan,-2.57,Afghanistan,AF,4,2,5.00,1.53,0.54,...,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78,2.83,1.99
1,ZAF,South Africa,-0.14,Afrique du Sud,ZA,710,202,143.00,35.69,14.11,...,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31,10.01,3.54
2,ALB,Albania,0.25,Albanie,AL,8,3,85.00,16.36,6.26,...,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79,0.76,2.48
3,DZA,Algeria,-1.14,Algérie,DZ,12,4,22.00,6.38,1.97,...,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24,0.71,2.45
4,DEU,Germany,0.77,Allemagne,DE,276,79,71.00,19.47,7.96,...,"6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22,8.63,4.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,ARE,United Arab Emirates,0.74,Émirats arabes unis,AE,784,225,147.00,43.47,14.80,...,664.00,166.00,96.75,62.29,63.30,62.05,28.92,63.57,1.02,3.76
168,NaN,NaN,NaN,Équateur,NaN,NaN,58,83.00,19.31,6.15,...,620.00,"1,191.00",10.47,60.58,0.00,52.26,28.55,55.26,5.51,2.75
169,NaN,NaN,NaN,États-Unis d'Amérique,NaN,NaN,231,219.00,55.68,19.93,...,"31,773.00","36,162.00",11.17,58.56,3.38,56.97,60.60,64.23,9.07,3.90
170,ETH,Ethiopia,-1.52,Éthiopie,ET,231,238,0.00,0.13,0.04,...,248.00,250.00,1.58,0.00,25.00,5.65,5.60,4.30,0.35,2.39
171,SLB,Solomon Islands,0.39,Îles Salomon,SB,90,25,18.00,4.45,1.51,...,25.00,58.00,25.93,14.06,85.71,12.00,0.00,11.92,1.18,2.40

In [116]:
df_final.describe()

,Stabilité_politique_12_17,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,Nourriture_Global,Production_Global,TDI,%Volailles Dispo alimentaire Kcal/pers/j,%Volailles Importation en tonne,%Volailles Nourriture en tonne,%Volailles Production en tonne,%Volailles disponibilité de proteines,TO,Indice de performance logistique
count,134.00,172.00,172.00,172.00,172.00,170.00,135.00,170.00,170.00,67.00,...,172.00,172.00,172.00,172.00,170.00,170.00,168.00,172.00,171.00,148.00
mean,-0.04,126.64,74.56,20.21,7.12,687.59,132.19,89.53,657.05,43.58,...,"2,077.56","2,257.40",42.00,34.07,32.51,37.09,31.56,38.70,5.02,2.84
std,0.87,72.98,60.57,15.86,5.60,"2,187.18",513.78,186.67,"2,136.55",120.82,...,"9,584.05","10,347.08",38.39,19.83,29.06,19.68,24.33,19.84,11.85,0.55
min,-2.57,1.00,0.00,0.13,0.04,2.00,0.00,0.00,2.00,0.00,...,5.00,1.00,0.25,0.00,0.00,1.84,0.00,1.46,0.01,1.71
25%,-0.66,66.75,22.00,6.44,2.17,30.50,0.00,3.00,28.50,1.00,...,104.00,78.25,14.12,18.28,8.25,21.65,11.32,23.32,0.55,2.45
50%,0.05,121.50,64.00,18.09,6.50,100.00,3.00,16.00,99.50,4.00,...,344.00,295.00,34.01,30.31,24.77,34.50,26.48,38.05,1.52,2.67
75%,0.68,188.25,105.50,30.04,10.37,368.25,32.00,81.25,365.25,29.50,...,970.25,965.75,58.33,49.48,57.78,51.73,48.84,53.36,4.86,3.12
max,1.49,276.00,243.00,72.31,27.87,"18,266.00","4,223.00","1,069.00","18,100.00",695.00,...,"119,486.00","128,090.00",220.22,78.79,100.00,78.79,93.88,81.09,102.01,4.13

In [117]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 171
Data columns (total 39 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   ISO 3                                                                            147 non-null    object
 1   Country                                                                          147 non-null    object
 2   Stabilité_politique_12_17                                                        134 non-null    float64
 3   Pays                                                                             172 non-null    object
 4   ISO 2_x                                                                          133 non-null    object
 5   ISO ON_x                                                                         134 non-null    object
 6   Code zone                                                                        172 non-null    int64
 7   (Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))            172 non-null    float64
 8   (Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))    172 non-null    float64
 9   (Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))  172 non-null    float64
 10  (Viande de Volailles, Disponibilité intérieure)                                  170 non-null    float64
 11  (Viande de Volailles, Exportations - Quantité)                                   135 non-null    float64
 12  Importations de Volailles en tonne                                               170 non-null    float64
 13  Nourriture en tonne                                                              170 non-null    float64
 14  (Viande de Volailles, Pertes)                                                    67 non-null     float64
 15  Production en tonnes                                                             168 non-null    float64
 16  Country_y                                                                        147 non-null    object
 17  ISO 2_y                                                                          146 non-null    object
 18  ISO 3_y                                                                          147 non-null    object
 19  ISO ON_y                                                                         147 non-null    object
 20  Population                                                                       172 non-null    float64
 21  %_Evolutipon_population_2012/17                                                  172 non-null    float64
 22  Croissance annuelle US$ par habitant                                             171 non-null    float64
 23  PIB $/habitant                                                                   171 non-null    float64
 24  Disponibilité alimentaire (Kcal/personne/jour)_Global                            172 non-null    float64
 25  Disponibilité intérieure_Global                                                  172 non-null    float64
 26  Disponibilité de protéines en quantité (g/personne/jour)_Global                  172 non-null    float64
 27  Exportations - Quantité_Global                                                   172 non-null    float64
 28  Importations - Quantité_Global                                                   172 non-null    float64
 29  Nourriture_Global                                                                172 non-null    float64
 30  Production_Global                                                                172 non-null    float64
 31  TDI                                                                              172 non-null    float64
 32  %Volailles Dispo alimentaire Kcal/pers/j                                         172 non-null    float64
 33  %Volailles Importation en tonne                                                  170 non-null    float64
 34  %Volailles Nourriture en tonne                                                   170 non-null    float64
 35  %Volailles Production en tonne                                                   168 non-null    float64
 36  %Volailles disponibilité de proteines                                            172 non-null    float64
 37  TO                                                                               171 non-null    float64
 38  Indice de performance logistique                                                 148 non-null    float64
dtypes: float64(29), int64(1), object(9)
memory usage: 53.8+ KB

In [118]:
df_final = df_final.rename(columns={"Disponibilité de protéines en quantité (g/personne/jour)_Global":"Disponibilité_protéines"})
df_final = df_final.rename(columns={"Croissance annuelle US$ par habitant":"Croissance_annuelle"})
df_final = df_final.rename(columns={"Disponibilité intérieure_Global":"Disponibilité_intérieure"})
df_final = df_final.rename(columns={"PIB $/habitant":"PIB/hab"})
df_final = df_final.rename(columns={"%Volailles Dispo alimentaire Kcal/pers/j":"%Dispo_Kcal_Volailles"})
df_final = df_final.rename(columns={"%Volailles Importation en tonne":"%Importation_Volailles"})
df_final = df_final.rename(columns={"%Volailles Production en tonne":"%Production_Volailles"})
df_final = df_final.rename(columns={"Indice de performance logistique":"Performance_logistique"})

df_final

,ISO 3,Country,Stabilité_politique_12_17,Pays,ISO 2_x,ISO ON_x,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))",...,Nourriture_Global,Production_Global,TDI,%Dispo_Kcal_Volailles,%Importation_Volailles,%Volailles Nourriture en tonne,%Production_Volailles,%Volailles disponibilité de proteines,TO,Performance_logistique
0,AFG,Afghanistan,-2.57,Afghanistan,AF,4,2,5.00,1.53,0.54,...,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78,2.83,1.99
1,ZAF,South Africa,-0.14,Afrique du Sud,ZA,710,202,143.00,35.69,14.11,...,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31,10.01,3.54
2,ALB,Albania,0.25,Albanie,AL,8,3,85.00,16.36,6.26,...,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79,0.76,2.48
3,DZA,Algeria,-1.14,Algérie,DZ,12,4,22.00,6.38,1.97,...,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24,0.71,2.45
4,DEU,Germany,0.77,Allemagne,DE,276,79,71.00,19.47,7.96,...,"6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22,8.63,4.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,ARE,United Arab Emirates,0.74,Émirats arabes unis,AE,784,225,147.00,43.47,14.80,...,664.00,166.00,96.75,62.29,63.30,62.05,28.92,63.57,1.02,3.76
168,NaN,NaN,NaN,Équateur,NaN,NaN,58,83.00,19.31,6.15,...,620.00,"1,191.00",10.47,60.58,0.00,52.26,28.55,55.26,5.51,2.75
169,NaN,NaN,NaN,États-Unis d'Amérique,NaN,NaN,231,219.00,55.68,19.93,...,"31,773.00","36,162.00",11.17,58.56,3.38,56.97,60.60,64.23,9.07,3.90
170,ETH,Ethiopia,-1.52,Éthiopie,ET,231,238,0.00,0.13,0.04,...,248.00,250.00,1.58,0.00,25.00,5.65,5.60,4.30,0.35,2.39
171,SLB,Solomon Islands,0.39,Îles Salomon,SB,90,25,18.00,4.45,1.51,...,25.00,58.00,25.93,14.06,85.71,12.00,0.00,11.92,1.18,2.40

In [119]:
df_final.isna().sum()

ISO 3                                                                               25
Country                                                                             25
Stabilité_politique_12_17                                                           38
Pays                                                                                 0
ISO 2_x                                                                             39
ISO ON_x                                                                            38
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance_annuelle                                                                  1
PIB/hab                                                                              1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité_intérieure                                                             0
Disponibilité_protéines                                                              0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Dispo_Kcal_Volailles                                                                0
%Importation_Volailles                                                               2
%Volailles Nourriture en tonne                                                       2
%Production_Volailles                                                                4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
Performance_logistique                                                              24
dtype: int64

In [120]:
df_final.dtypes

ISO 3                                                                               object
Country                                                                             object
Stabilité_politique_12_17                                                          float64
Pays                                                                                object
ISO 2_x                                                                             object
ISO ON_x                                                                            object
Code zone                                                                            int64
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))              float64
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))      float64
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))    float64
(Viande de Volailles, Disponibilité intérieure)                                    float64
(Viande de Volailles, Exportations - Quantité)                                     float64
Importations de Volailles en tonne                                                 float64
Nourriture en tonne                                                                float64
(Viande de Volailles, Pertes)                                                      float64
Production en tonnes                                                               float64
Country_y                                                                           object
ISO 2_y                                                                             object
ISO 3_y                                                                             object
ISO ON_y                                                                            object
Population                                                                         float64
%_Evolutipon_population_2012/17                                                    float64
Croissance_annuelle                                                                float64
PIB/hab                                                                            float64
Disponibilité alimentaire (Kcal/personne/jour)_Global                              float64
Disponibilité_intérieure                                                           float64
Disponibilité_protéines                                                            float64
Exportations - Quantité_Global                                                     float64
Importations - Quantité_Global                                                     float64
Nourriture_Global                                                                  float64
Production_Global                                                                  float64
TDI                                                                                float64
%Dispo_Kcal_Volailles                                                              float64
%Importation_Volailles                                                             float64
%Volailles Nourriture en tonne                                                     float64
%Production_Volailles                                                              float64
%Volailles disponibilité de proteines                                              float64
TO                                                                                 float64
Performance_logistique                                                             float64
dtype: object

In [121]:
# En registrement du CSV

df_final.to_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\df_final.csv')

# Traitement des valeurs nulles

https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html#sklearn.impute.IterativeImputer

In [122]:
df_final.isna().sum()

ISO 3                                                                               25
Country                                                                             25
Stabilité_politique_12_17                                                           38
Pays                                                                                 0
ISO 2_x                                                                             39
ISO ON_x                                                                            38
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance_annuelle                                                                  1
PIB/hab                                                                              1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité_intérieure                                                             0
Disponibilité_protéines                                                              0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Dispo_Kcal_Volailles                                                                0
%Importation_Volailles                                                               2
%Volailles Nourriture en tonne                                                       2
%Production_Volailles                                                                4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
Performance_logistique                                                              24
dtype: int64

In [123]:
df_final[df_final['PIB/hab'].isnull()]

,ISO 3,Country,Stabilité_politique_12_17,Pays,ISO 2_x,ISO ON_x,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))",...,Nourriture_Global,Production_Global,TDI,%Dispo_Kcal_Volailles,%Importation_Volailles,%Volailles Nourriture en tonne,%Production_Volailles,%Volailles disponibilité de proteines,TO,Performance_logistique
33,NaN,NaN,NaN,"Chine, Taiwan Province de",NaN,NaN,214,126.00,33.17,11.01,...,"2,140.00","2,301.00",39.06,29.93,15.06,36.68,28.34,41.28,NaN,NaN

In [124]:
df_final.dtypes

ISO 3                                                                               object
Country                                                                             object
Stabilité_politique_12_17                                                          float64
Pays                                                                                object
ISO 2_x                                                                             object
ISO ON_x                                                                            object
Code zone                                                                            int64
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))              float64
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))      float64
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))    float64
(Viande de Volailles, Disponibilité intérieure)                                    float64
(Viande de Volailles, Exportations - Quantité)                                     float64
Importations de Volailles en tonne                                                 float64
Nourriture en tonne                                                                float64
(Viande de Volailles, Pertes)                                                      float64
Production en tonnes                                                               float64
Country_y                                                                           object
ISO 2_y                                                                             object
ISO 3_y                                                                             object
ISO ON_y                                                                            object
Population                                                                         float64
%_Evolutipon_population_2012/17                                                    float64
Croissance_annuelle                                                                float64
PIB/hab                                                                            float64
Disponibilité alimentaire (Kcal/personne/jour)_Global                              float64
Disponibilité_intérieure                                                           float64
Disponibilité_protéines                                                            float64
Exportations - Quantité_Global                                                     float64
Importations - Quantité_Global                                                     float64
Nourriture_Global                                                                  float64
Production_Global                                                                  float64
TDI                                                                                float64
%Dispo_Kcal_Volailles                                                              float64
%Importation_Volailles                                                             float64
%Volailles Nourriture en tonne                                                     float64
%Production_Volailles                                                              float64
%Volailles disponibilité de proteines                                              float64
TO                                                                                 float64
Performance_logistique                                                             float64
dtype: object

In [125]:
df_final.isna().sum()

ISO 3                                                                               25
Country                                                                             25
Stabilité_politique_12_17                                                           38
Pays                                                                                 0
ISO 2_x                                                                             39
ISO ON_x                                                                            38
Code zone                                                                            0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))                0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))        0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))      0
(Viande de Volailles, Disponibilité intérieure)                                      2
(Viande de Volailles, Exportations - Quantité)                                      37
Importations de Volailles en tonne                                                   2
Nourriture en tonne                                                                  2
(Viande de Volailles, Pertes)                                                      105
Production en tonnes                                                                 4
Country_y                                                                           25
ISO 2_y                                                                             26
ISO 3_y                                                                             25
ISO ON_y                                                                            25
Population                                                                           0
%_Evolutipon_population_2012/17                                                      0
Croissance_annuelle                                                                  1
PIB/hab                                                                              1
Disponibilité alimentaire (Kcal/personne/jour)_Global                                0
Disponibilité_intérieure                                                             0
Disponibilité_protéines                                                              0
Exportations - Quantité_Global                                                       0
Importations - Quantité_Global                                                       0
Nourriture_Global                                                                    0
Production_Global                                                                    0
TDI                                                                                  0
%Dispo_Kcal_Volailles                                                                0
%Importation_Volailles                                                               2
%Volailles Nourriture en tonne                                                       2
%Production_Volailles                                                                4
%Volailles disponibilité de proteines                                                0
TO                                                                                   1
Performance_logistique                                                              24
dtype: int64

In [126]:
# Suppression colonne duplicate ex/ Pays

df_final = df_final.loc[:,~df_final.columns.duplicated()]

In [127]:
# Extraction index valeur nulle: Performance_logistique 
# Imputation par ....

ISNA_Performance_logistique = df_final[df_final['Performance_logistique'].isnull()].index.to_list()
ISNA_Performance_logistique

[6,
 15,
 17,
 26,
 31,
 32,
 33,
 44,
 48,
 56,
 61,
 79,
 80,
 108,
 120,
 131,
 133,
 134,
 135,
 136,
 140,
 145,
 150,
 160]

In [128]:
# Extraction index valeur nulle: Stabilité_politique_12_17     
# Extraction de mes valeurs nulles (24)
# Imputation par ....

ISNA_Stabilité_politique_12_17 = df_final[df_final['Stabilité_politique_12_17'].isnull()].index.to_list()
ISNA_Stabilité_politique_12_17

[7,
 13,
 18,
 24,
 26,
 31,
 32,
 33,
 34,
 37,
 41,
 48,
 54,
 61,
 68,
 69,
 79,
 88,
 106,
 108,
 120,
 124,
 127,
 128,
 131,
 132,
 133,
 134,
 135,
 140,
 145,
 150,
 161,
 162,
 163,
 166,
 168,
 169]

In [129]:
df_final.shape

(172, 39)

In [130]:
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [131]:
# Isolation des données d'expression
XX = df_final.select_dtypes('number')
print("XX", XX.shape)

XX (172, 30)

 imp = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
 imp.fit(df)
 df = pd.DataFrame(imp.transform(df), columns = df.columns)

In [132]:
#https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html
imp_mean = IterativeImputer(random_state=5,sample_posterior=True,initial_strategy='median')

In [133]:
imp_mean.fit(XX)

C:\Users\melle\anaconda3\envs\P9\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

IterativeImputer(initial_strategy='median', random_state=5,
                 sample_posterior=True)

In [134]:
XX = imp_mean.transform(XX)

C:\Users\melle\anaconda3\envs\P9\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

In [135]:
XX = pd.DataFrame(XX)

In [136]:
XX.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

In [137]:
XX

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-2.57,2.00,5.00,1.53,0.54,57.00,-10.65,29.00,55.00,2.00,...,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78,2.83,1.99
1,-0.14,202.00,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,...,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31,10.01,3.54
2,0.25,3.00,85.00,16.36,6.26,47.00,0.00,38.00,47.00,-13.03,...,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79,0.76,2.48
3,-1.14,4.00,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,...,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24,0.71,2.45
4,0.77,79.00,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",51.51,...,"6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22,8.63,4.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,0.74,225.00,147.00,43.47,14.80,412.00,94.00,433.00,412.00,46.39,...,664.00,166.00,96.75,62.29,63.30,62.05,28.92,63.57,1.02,3.76
168,0.33,58.00,83.00,19.31,6.15,341.00,0.00,0.00,324.00,17.00,...,620.00,"1,191.00",10.47,60.58,0.00,52.26,28.55,55.26,5.51,2.75
169,-3.13,231.00,219.00,55.68,19.93,"18,266.00","3,692.00",123.00,"18,100.00",571.69,...,"31,773.00","36,162.00",11.17,58.56,3.38,56.97,60.60,64.23,9.07,3.90
170,-1.52,238.00,0.00,0.13,0.04,14.00,14.07,1.00,14.00,1.00,...,248.00,250.00,1.58,0.00,25.00,5.65,5.60,4.30,0.35,2.39
171,0.39,25.00,18.00,4.45,1.51,3.00,0.00,6.00,3.00,-1.22,...,25.00,58.00,25.93,14.06,85.71,12.00,0.00,11.92,1.18,2.40

In [138]:
df_final.drop(columns="Pays").columns

Index([                                                                            'ISO 3',
                                                                                 'Country',
                                                               'Stabilité_politique_12_17',
                                                                                 'ISO 2_x',
                                                                                'ISO ON_x',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                               'Country_y',
                                                                                 'ISO 2_y',
                                                                                 'ISO 3_y',
                                                                                'ISO ON_y',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                                     'Croissance_annuelle',
                                                                                 'PIB/hab',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                                'Disponibilité_intérieure',
                                                                 'Disponibilité_protéines',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                                   '%Dispo_Kcal_Volailles',
                                                                  '%Importation_Volailles',
                                                          '%Volailles Nourriture en tonne',
                                                                   '%Production_Volailles',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO',
                                                                  'Performance_logistique'],
      dtype='object')

In [139]:
# Récupération du nom des colonnes

df_Final = pd.DataFrame(imp_mean.transform(XX), columns = df_final.select_dtypes('number').columns)

In [140]:
df_Final.isna().sum()

Stabilité_politique_12_17                                                          0
Code zone                                                                          0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))              0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))      0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))    0
(Viande de Volailles, Disponibilité intérieure)                                    0
(Viande de Volailles, Exportations - Quantité)                                     0
Importations de Volailles en tonne                                                 0
Nourriture en tonne                                                                0
(Viande de Volailles, Pertes)                                                      0
Production en tonnes                                                               0
Population                                                                         0
%_Evolutipon_population_2012/17                                                    0
Croissance_annuelle                                                                0
PIB/hab                                                                            0
Disponibilité alimentaire (Kcal/personne/jour)_Global                              0
Disponibilité_intérieure                                                           0
Disponibilité_protéines                                                            0
Exportations - Quantité_Global                                                     0
Importations - Quantité_Global                                                     0
Nourriture_Global                                                                  0
Production_Global                                                                  0
TDI                                                                                0
%Dispo_Kcal_Volailles                                                              0
%Importation_Volailles                                                             0
%Volailles Nourriture en tonne                                                     0
%Production_Volailles                                                              0
%Volailles disponibilité de proteines                                              0
TO                                                                                 0
Performance_logistique                                                             0
dtype: int64

In [141]:
df_final.columns

Index([                                                                            'ISO 3',
                                                                                 'Country',
                                                               'Stabilité_politique_12_17',
                                                                                    'Pays',
                                                                                 'ISO 2_x',
                                                                                'ISO ON_x',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                               'Country_y',
                                                                                 'ISO 2_y',
                                                                                 'ISO 3_y',
                                                                                'ISO ON_y',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                                     'Croissance_annuelle',
                                                                                 'PIB/hab',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                                'Disponibilité_intérieure',
                                                                 'Disponibilité_protéines',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                                   '%Dispo_Kcal_Volailles',
                                                                  '%Importation_Volailles',
                                                          '%Volailles Nourriture en tonne',
                                                                   '%Production_Volailles',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO',
                                                                  'Performance_logistique'],
      dtype='object')

In [142]:
df_final.loc[df_final.index.isin(ISNA_Performance_logistique),["Performance_logistique"]]

     Performance_logistique
6                       NaN
15                      NaN
17                      NaN
26                      NaN
31                      NaN
32                      NaN
33                      NaN
44                      NaN
48                      NaN
56                      NaN
61                      NaN
79                      NaN
80                      NaN
108                     NaN
120                     NaN
131                     NaN
133                     NaN
134                     NaN
135                     NaN
136                     NaN
140                     NaN
145                     NaN
150                     NaN
160                     NaN

In [143]:
df_Final.head()

,Stabilité_politique_12_17,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,Nourriture_Global,Production_Global,TDI,%Dispo_Kcal_Volailles,%Importation_Volailles,%Volailles Nourriture en tonne,%Production_Volailles,%Volailles disponibilité de proteines,TO,Performance_logistique
0,-2.57,2.00,5.00,1.53,0.54,57.00,-10.65,29.00,55.00,2.00,...,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78,2.83,1.99
1,-0.14,202.00,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",83.00,...,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31,10.01,3.54
2,0.25,3.00,85.00,16.36,6.26,47.00,0.00,38.00,47.00,-13.03,...,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79,0.76,2.48
3,-1.14,4.00,22.00,6.38,1.97,277.00,0.00,2.00,264.00,13.00,...,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24,0.71,2.45
4,0.77,79.00,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",51.51,...,"6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22,8.63,4.13

In [144]:
df_Final.loc[df_Final.index.isin(ISNA_Performance_logistique),["Performance_logistique"]]

     Performance_logistique
6                      2.90
15                     2.97
17                     2.62
26                     2.14
31                     4.35
32                     3.86
33                     3.41
44                     2.90
48                     2.72
56                     3.15
61                     3.01
79                     2.58
80                     2.77
108                    3.26
120                    2.66
131                    2.62
133                    3.96
134                    2.45
135                    2.97
136                    2.83
140                    2.36
145                    2.66
150                    3.03
160                    2.69

In [145]:
df_final.loc[df_final.index.isin(ISNA_Stabilité_politique_12_17),["Stabilité_politique_12_17"]]

     Stabilité_politique_12_17
7                          NaN
13                         NaN
18                         NaN
24                         NaN
26                         NaN
31                         NaN
32                         NaN
33                         NaN
34                         NaN
37                         NaN
41                         NaN
48                         NaN
54                         NaN
61                         NaN
68                         NaN
69                         NaN
79                         NaN
88                         NaN
106                        NaN
108                        NaN
120                        NaN
124                        NaN
127                        NaN
128                        NaN
131                        NaN
132                        NaN
133                        NaN
134                        NaN
135                        NaN
140                        NaN
145                        NaN
150                        NaN
161                        NaN
162                        NaN
163                        NaN
166                        NaN
168                        NaN
169                        NaN

In [146]:
df_Final.loc[df_Final.index.isin(ISNA_Stabilité_politique_12_17),["Stabilité_politique_12_17"]]

     Stabilité_politique_12_17
7                         0.08
13                        1.51
18                        0.66
24                        0.43
26                        0.25
31                        2.98
32                        2.29
33                       -0.20
34                      -16.65
37                       -0.56
41                       -0.57
48                       -1.07
54                        0.10
61                       -0.86
68                       -0.43
69                       -0.45
79                       -0.58
88                       -0.08
106                      -1.82
108                       0.02
120                       2.07
124                       1.13
127                       0.48
128                       0.22
131                       0.12
132                      -1.50
133                       0.48
134                       1.12
135                       0.32
140                      -0.29
145                      -0.38
150                       0.38
161                       0.59
162                       0.08
163                      -0.29
166                      -1.64
168                       0.33
169                      -3.13

In [147]:
df_final.describe()

,Stabilité_politique_12_17,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,"(Viande de Volailles, Pertes)",...,Nourriture_Global,Production_Global,TDI,%Dispo_Kcal_Volailles,%Importation_Volailles,%Volailles Nourriture en tonne,%Production_Volailles,%Volailles disponibilité de proteines,TO,Performance_logistique
count,134.00,172.00,172.00,172.00,172.00,170.00,135.00,170.00,170.00,67.00,...,172.00,172.00,172.00,172.00,170.00,170.00,168.00,172.00,171.00,148.00
mean,-0.04,126.64,74.56,20.21,7.12,687.59,132.19,89.53,657.05,43.58,...,"2,077.56","2,257.40",42.00,34.07,32.51,37.09,31.56,38.70,5.02,2.84
std,0.87,72.98,60.57,15.86,5.60,"2,187.18",513.78,186.67,"2,136.55",120.82,...,"9,584.05","10,347.08",38.39,19.83,29.06,19.68,24.33,19.84,11.85,0.55
min,-2.57,1.00,0.00,0.13,0.04,2.00,0.00,0.00,2.00,0.00,...,5.00,1.00,0.25,0.00,0.00,1.84,0.00,1.46,0.01,1.71
25%,-0.66,66.75,22.00,6.44,2.17,30.50,0.00,3.00,28.50,1.00,...,104.00,78.25,14.12,18.28,8.25,21.65,11.32,23.32,0.55,2.45
50%,0.05,121.50,64.00,18.09,6.50,100.00,3.00,16.00,99.50,4.00,...,344.00,295.00,34.01,30.31,24.77,34.50,26.48,38.05,1.52,2.67
75%,0.68,188.25,105.50,30.04,10.37,368.25,32.00,81.25,365.25,29.50,...,970.25,965.75,58.33,49.48,57.78,51.73,48.84,53.36,4.86,3.12
max,1.49,276.00,243.00,72.31,27.87,"18,266.00","4,223.00","1,069.00","18,100.00",695.00,...,"119,486.00","128,090.00",220.22,78.79,100.00,78.79,93.88,81.09,102.01,4.13

In [148]:
XX.describe()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,172.00,172.00,172.00,172.00,172.00,172.00,172.00,172.00,172.00,172.00,...,172.00,172.00,172.00,172.00,172.00,172.00,172.00,172.00,172.00,172.00
mean,-0.12,126.64,74.56,20.21,7.12,679.96,101.65,87.67,649.42,29.85,...,"2,077.56","2,257.40",42.00,34.07,33.05,36.88,31.01,38.70,5.00,2.86
std,1.57,72.98,60.57,15.86,5.60,"2,175.53",459.49,186.53,"2,125.21",99.02,...,"9,584.05","10,347.08",38.39,19.83,29.33,19.67,24.33,19.84,11.82,0.54
min,-16.65,1.00,0.00,0.13,0.04,-59.94,-289.93,-141.46,-94.08,-33.08,...,5.00,1.00,0.25,0.00,0.00,1.84,-1.23,1.46,0.01,1.71
25%,-0.57,66.75,22.00,6.44,2.17,29.75,0.00,3.00,28.00,-1.32,...,104.00,78.25,14.12,18.28,8.51,21.55,11.09,23.32,0.56,2.46
50%,0.06,121.50,64.00,18.09,6.50,100.00,2.00,16.00,97.36,4.00,...,344.00,295.00,34.01,30.31,24.94,33.57,26.04,38.05,1.51,2.69
75%,0.66,188.25,105.50,30.04,10.37,360.75,29.00,79.75,353.75,27.06,...,970.25,965.75,58.33,49.48,58.46,50.68,48.14,53.36,4.82,3.12
max,2.98,276.00,243.00,72.31,27.87,"18,266.00","4,223.00","1,069.00","18,100.00",695.00,...,"119,486.00","128,090.00",220.22,78.79,100.00,78.79,93.88,81.09,102.01,4.35

In [149]:
Pays = pd.DataFrame(df_final.Pays)

In [150]:
df = Pays.merge(df_Final, left_index=True, right_index=True)
df

,Pays,Stabilité_politique_12_17,Code zone,"(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))","(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))","(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))","(Viande de Volailles, Disponibilité intérieure)","(Viande de Volailles, Exportations - Quantité)",Importations de Volailles en tonne,Nourriture en tonne,...,Nourriture_Global,Production_Global,TDI,%Dispo_Kcal_Volailles,%Importation_Volailles,%Volailles Nourriture en tonne,%Production_Volailles,%Volailles disponibilité de proteines,TO,Performance_logistique
0,Afghanistan,-2.57,2.00,5.00,1.53,0.54,57.00,-10.65,29.00,55.00,...,226.00,209.00,12.18,15.62,100.00,24.34,13.40,22.78,2.83,1.99
1,Afrique du Sud,-0.14,202.00,143.00,35.69,14.11,"2,118.00",63.00,514.00,"2,035.00",...,"2,650.00","2,544.00",26.13,67.14,71.19,76.79,65.53,80.31,10.01,3.54
2,Albanie,0.25,3.00,85.00,16.36,6.26,47.00,0.00,38.00,47.00,...,104.00,55.00,56.48,41.46,62.30,45.19,23.64,47.79,0.76,2.48
3,Algérie,-1.14,4.00,22.00,6.38,1.97,277.00,0.00,2.00,264.00,...,690.00,662.00,7.94,32.84,3.51,38.26,41.54,35.24,0.71,2.45
4,Allemagne,0.77,79.00,71.00,19.47,7.96,"1,739.00",646.00,842.00,"1,609.00",...,"6,656.00","7,348.00",52.56,21.39,23.75,24.17,20.60,31.22,8.63,4.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,0.74,225.00,147.00,43.47,14.80,412.00,94.00,433.00,412.00,...,664.00,166.00,96.75,62.29,63.30,62.05,28.92,63.57,1.02,3.76
168,Équateur,0.33,58.00,83.00,19.31,6.15,341.00,0.00,0.00,324.00,...,620.00,"1,191.00",10.47,60.58,0.00,52.26,28.55,55.26,5.51,2.75
169,États-Unis d'Amérique,-3.13,231.00,219.00,55.68,19.93,"18,266.00","3,692.00",123.00,"18,100.00",...,"31,773.00","36,162.00",11.17,58.56,3.38,56.97,60.60,64.23,9.07,3.90
170,Éthiopie,-1.52,238.00,0.00,0.13,0.04,14.00,14.07,1.00,14.00,...,248.00,250.00,1.58,0.00,25.00,5.65,5.60,4.30,0.35,2.39
171,Îles Salomon,0.39,25.00,18.00,4.45,1.51,3.00,0.00,6.00,3.00,...,25.00,58.00,25.93,14.06,85.71,12.00,0.00,11.92,1.18,2.40

In [151]:
df.shape

(172, 31)

In [152]:
df.isna().sum()

Pays                                                                               0
Stabilité_politique_12_17                                                          0
Code zone                                                                          0
(Viande de Volailles, Disponibilité alimentaire (Kcal/personne/jour))              0
(Viande de Volailles, Disponibilité alimentaire en quantité (kg/personne/an))      0
(Viande de Volailles, Disponibilité de protéines en quantité (g/personne/jour))    0
(Viande de Volailles, Disponibilité intérieure)                                    0
(Viande de Volailles, Exportations - Quantité)                                     0
Importations de Volailles en tonne                                                 0
Nourriture en tonne                                                                0
(Viande de Volailles, Pertes)                                                      0
Production en tonnes                                                               0
Population                                                                         0
%_Evolutipon_population_2012/17                                                    0
Croissance_annuelle                                                                0
PIB/hab                                                                            0
Disponibilité alimentaire (Kcal/personne/jour)_Global                              0
Disponibilité_intérieure                                                           0
Disponibilité_protéines                                                            0
Exportations - Quantité_Global                                                     0
Importations - Quantité_Global                                                     0
Nourriture_Global                                                                  0
Production_Global                                                                  0
TDI                                                                                0
%Dispo_Kcal_Volailles                                                              0
%Importation_Volailles                                                             0
%Volailles Nourriture en tonne                                                     0
%Production_Volailles                                                              0
%Volailles disponibilité de proteines                                              0
TO                                                                                 0
Performance_logistique                                                             0
dtype: int64

In [153]:
df.columns

Index([                                                                             'Pays',
                                                               'Stabilité_politique_12_17',
                                                                               'Code zone',
                 ('Viande de Volailles', 'Disponibilité alimentaire (Kcal/personne/jour)'),
         ('Viande de Volailles', 'Disponibilité alimentaire en quantité (kg/personne/an)'),
       ('Viande de Volailles', 'Disponibilité de protéines en quantité (g/personne/jour)'),
                                       ('Viande de Volailles', 'Disponibilité intérieure'),
                                        ('Viande de Volailles', 'Exportations - Quantité'),
                                                      'Importations de Volailles en tonne',
                                                                     'Nourriture en tonne',
                                                         ('Viande de Volailles', 'Pertes'),
                                                                    'Production en tonnes',
                                                                              'Population',
                                                         '%_Evolutipon_population_2012/17',
                                                                     'Croissance_annuelle',
                                                                                 'PIB/hab',
                                   'Disponibilité alimentaire (Kcal/personne/jour)_Global',
                                                                'Disponibilité_intérieure',
                                                                 'Disponibilité_protéines',
                                                          'Exportations - Quantité_Global',
                                                          'Importations - Quantité_Global',
                                                                       'Nourriture_Global',
                                                                       'Production_Global',
                                                                                     'TDI',
                                                                   '%Dispo_Kcal_Volailles',
                                                                  '%Importation_Volailles',
                                                          '%Volailles Nourriture en tonne',
                                                                   '%Production_Volailles',
                                                   '%Volailles disponibilité de proteines',
                                                                                      'TO',
                                                                  'Performance_logistique'],
      dtype='object')

In [154]:
df = df[['Pays', '%_Evolutipon_population_2012/17', 'Croissance_annuelle',
       'PIB/hab', 'Performance_logistique', 'TDI', 'Stabilité_politique_12_17',
       '%Importation_Volailles',
       '%Production_Volailles', '%Volailles disponibilité de proteines', 'TO','Disponibilité_protéines']]

# df

In [155]:
df

,Pays,%_Evolutipon_population_2012/17,Croissance_annuelle,PIB/hab,Performance_logistique,TDI,Stabilité_politique_12_17,%Importation_Volailles,%Production_Volailles,%Volailles disponibilité de proteines,TO,Disponibilité_protéines
0,Afghanistan,16.48,0.65,513.09,1.99,12.18,-2.57,100.00,13.40,22.78,2.83,2.37
1,Afrique du Sud,7.91,16.11,"6,121.88",3.54,26.13,-0.14,71.19,65.53,80.31,10.01,17.57
2,Albanie,-1.03,9.85,"4,514.20",2.48,56.48,0.25,62.30,23.64,47.79,0.76,13.10
3,Algérie,10.71,4.14,"4,109.70",2.45,7.94,-1.14,3.51,41.54,35.24,0.71,5.59
4,Allemagne,2.08,5.61,"44,552.06",4.13,52.56,0.77,23.75,20.60,31.22,8.63,25.50
...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,3.78,6.56,"40,644.80",3.76,96.75,0.74,63.30,28.92,63.57,1.02,23.28
168,Équateur,8.47,2.53,"6,213.50",2.75,10.47,0.33,0.00,28.55,55.26,5.51,11.13
169,États-Unis d'Amérique,3.52,3.59,"60,116.57",3.90,11.17,-3.13,3.38,60.60,64.23,9.07,31.03
170,Éthiopie,14.75,3.63,721.75,2.39,1.58,-1.52,25.00,5.60,4.30,0.35,0.93
171,Îles Salomon,14.38,4.83,"1,911.43",2.40,25.93,0.39,85.71,0.00,11.92,1.18,12.67

In [156]:
df.isna().sum()

Pays                                     0
%_Evolutipon_population_2012/17          0
Croissance_annuelle                      0
PIB/hab                                  0
Performance_logistique                   0
TDI                                      0
Stabilité_politique_12_17                0
%Importation_Volailles                   0
%Production_Volailles                    0
%Volailles disponibilité de proteines    0
TO                                       0
Disponibilité_protéines                  0
dtype: int64

In [157]:
df.to_csv(r'C:\Users\melle\FORMATION\P9_MENDY_Angèle\df.csv')